<tourism-smart-transportation-loading-progress
  *ngIf="loading"
></tourism-smart-transportation-loading-progress>
<div class="station-dialog">
  <p-dialog
    [header]="editMode ? 'Chỉnh sửa trạm xe buýt' : 'Tạo mới trạm xe buýt'"
    [(visible)]="showDialog"
    [blockScroll]="false"
    [modal]="true"
    [style]="{ width: '674px', height: '680px' }"
    [contentStyle]="{
      'overflow-y': 'auto',
      'overflow-x': 'hidden',
      'max-height': '80vh',
      'min-height': '25vh'
    }"
    [closable]="false"
    [draggable]="false"
  >
    <div class="header-icon" (click)="onCloseDialog()">
      <span class="material-icons"> close </span>
    </div>
    <div class="station-form">
      <div class="mt-4 grid p-fluid">
        <!-- Vị trí trạm -->
        <form [formGroup]="locationForm">
          <div class="col-12">
            <div class="grid location-body">
              <div class="col-4 header-text">Vị trí trạm</div>
              <div class="col-8">
                <div class="grid">
                  <div
                    class="col-6 station-input-short"
                    style="margin-top: 0px"
                  >
                    <div class="station-text">
                      Kinh độ
                      <!-- <small
                  *ngIf="_stationsForm['title'].errors?.['required'] && isSubmit"
                  class="p-error"
                >
                  không được bỏ trống</small
                > -->
                    </div>

                    <input
                      class="station-input-text-short"
                      type="text"
                      pInputText
                      formControlName="longitude"
                      (keyup.enter)="onSaveStation()"
                    />
                  </div>
                  <div
                    class="col-6 station-input-short"
                    style="margin-top: 0px; margin-left: 12px"
                  >
                    <div class="station-text">
                      Vĩ độ
                      <!-- <small
                  *ngIf="_stationsForm['title'].errors?.['required'] && isSubmit"
                  class="p-error"
                >
                  không được bỏ trống</small
                > -->
                    </div>

                    <input
                      class="station-input-text-short"
                      type="text"
                      pInputText
                      formControlName="latitude"
                      (keyup.enter)="onSaveStation()"
                    />
                  </div>
                  <!-- map -->
                  <div class="col-12">
                    <div class="map-box-container" *ngIf="showDialog">
                      <div #mapChild id="mini-map" class="map-container"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- thông tin chi tiết -->
            <div class="grid">
              <div class="col-4 header-text">Thông tin chi tiết</div>
              <div class="col-8">
                <div class="col-12 station-input-long">
                  <div class="station-text">
                    Tên Trạm
                    <small
                      *ngIf="_locationForm['title'].invalid && isSubmit"
                      class="p-error"
                    >
                      không được bỏ trống
                    </small>
                  </div>
                  <input
                    class="station-input-text-long"
                    type="text"
                    pInputText
                    formControlName="title"
                    (keyup.enter)="onSaveStation()"
                  />
                </div>
                <div class="col-12 station-input-long">
                  <div class="station-text">
                    Mô tả
                    <small
                      *ngIf="_locationForm['description'].invalid && isSubmit"
                      class="p-error"
                    >
                      không được bỏ trống
                    </small>
                  </div>
                  <input
                    class="station-input-text-long"
                    type="text"
                    pInputText
                    formControlName="description"
                    (keyup.enter)="onSaveStation()"
                  />
                </div>
                <div class="col-12 station-input-long">
                  <div class="station-text">
                    Địa chỉ
                    <small
                      *ngIf="_locationForm['address'].invalid && isSubmit"
                      class="p-error"
                    >
                      không được bỏ trống
                    </small>
                  </div>
                  <input
                    class="station-input-text-long"
                    type="text"
                    pInputText
                    formControlName="address"
                    (keyup.enter)="onSaveStation()"
                  />
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="footer">
        <button
          [style]="{ width: '57', height: '32px' }"
          class="p-button-outlined p-button-rounded"
          pButton
          pRipple
          type="button"
          label="Hủy"
          (click)="cancelDialog()"
        ></button>
        <button
          [style]="{ width: '57', height: '32px' }"
          class="p-button-rounded button-rounded"
          pButton
          pRipple
          type="button"
          label="Lưu"
          (click)="onSaveStation()"
        ></button>
      </div>
    </div>
  </p-dialog>
</div>
<tourism-smart-transportation-confirm-close-dialog></tourism-smart-transportation-confirm-close-dialog>
<p-toast position="top-right"></p-toast>
