@import '../../.../../../styles.scss';
$text-price-color: #f69e01;
$bg-color-wallet: #fef5e4;

.card-wallet {
  margin: 20px;
  border-radius: 24px;
  width: 94%;
  height: 90px;
  background: $bg-color-wallet;
  color: $text-price-color;
  padding: 15px;
  padding-left: 20px;
}
.total-price {
  @include font-Roboto-Regular-H5;
}
.wallet-text {
  margin-left: 10px;
  @include font-Roboto-Regular-Body1;
}
.wallet-transaction-title {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 2px;
  margin-left: 25px;
}
.transaction-history-card {
  border-bottom: 1px solid $background-color-grey;
  height: 80px;
  width: 94%;
  margin: 20px;
  padding: 20px;
}
