<div class="grid">
  <div class="col-12">
    <div class="card-wallet">
      <div class="total-price">$1,550.56</div>
      <div class="wallet-text">Số dư</div>
    </div>
  </div>
  <div class="col-12">
    <div class="wallet-transaction-title">Lịch sử giao dịch</div>
    <p-scrollPanel [style]="{ width: '100%', height: '58vh' }">
      <div class="transaction-history-card"></div>
      <div class="transaction-history-card"></div>
      <div class="transaction-history-card"></div>
      <div class="transaction-history-card"></div>
      <div class="transaction-history-card"></div>
      <div class="transaction-history-card"></div>
      <div class="transaction-history-card"></div>
    </p-scrollPanel>
  </div>
</div>
