<div class="grid">
  <div class="col-12">
    <div class="card-wallet">
      <div class="total-price">
        {{
          Wallet?.wallet?.accountBalance
            | currency: Wallet?.wallet?.accountBalance:'':'.0-0'
        }}đ
      </div>
      <div class="wallet-text">Số dư</div>
    </div>
  </div>
  <div class="col-12">
    <div class="wallet-transaction-title">Lịch sử giao dịch</div>
    <p-scrollPanel [style]="{ width: '100%', height: '58vh' }">
      <div class="transaction-history-card" *ngFor="let trs of transaction">
        <div>
          <div>
            <b> {{ trs.serviceTypeName }}</b>
          </div>
          <div>
            {{ trs.createdDate | date: 'short' }}
          </div>
        </div>
        <div class="wallet-money">
          <b> +{{ trs.amount | currency: trs.amount:'':'.0-0' }}đ </b>
        </div>
        <div style="width: 35%">{{ trs.content }}</div>
      </div>
    </p-scrollPanel>
  </div>
</div>
