<div class="header-search">
  <span class="p-input-icon-left">
    <i class="material-icons-outlined"> search </i>
    <input
      [style]="{ width: '276px', height: '32px' }"
      type="text"
      pInputText
      placeholder="Tìm kiếm danh sách trạm xe buýt"
      (keydown)="onChangeFillterMapStation($event)"
    />
  </span>
</div>

<div class="body-station-content">
  <div class="body-card" (click)="showDetail()">
    <div class="card-header">
      <div>Trạm dừng số 8</div>
    </div>
    <div class="card-body">
      <div>89,Suối Mây, Phú Quốc</div>
    </div>
  </div>
  <!--  -->
</div>
