<div class="header-search-station">
  <span class="p-input-icon-left">
    <i class="material-icons-outlined"> search </i>
    <input
      [style]="{ width: '276px', height: '32px' }"
      type="text"
      pInputText
      placeholder="Tìm kiếm danh sách trạm xe buýt"
      (keydown)="onChangeFillterMapStation($event)"
    />
  </span>
</div>

<div class="body-station-content">
  <div
    *ngFor="let station of stations"
    class="body-card"
    (click)="showDetail(station.id)"
  >
    <div class="card-header">
      <div>{{ station.title }}</div>
    </div>
    <div class="card-body">
      <div>{{ station.address }}</div>
    </div>
  </div>
</div>
