<div class="header-vehicle-renting-service">
  <div class="header-vehicle-renting-service-content">
    <div class="header-content-item">
      <div class="header-item-H5"><div>Giá thuê xe</div></div>
      <div class="header-item">
        <button
          pButton
          pRipple
          type="button"
          label="Xuất excel"
          class="p-button-outlined p-button-rounded"
        ></button>
        <button
          pButton
          pRipple
          type="button"
          label="Tạo mới"
          (click)="createRentingPrice()"
          class="p-button-rounded button-background"
        ></button>
      </div>
    </div>
    <div class="header-search">
      <span class="p-input-icon-left">
        <i class="material-icons-outlined"> search </i>
        <input
          type="text"
          pInputText
          placeholder="Tìm kiếm theo tên, mã,…"
          (keydown)="onChangeFillterByName($event)"
        />
      </span>
    </div>
  </div>
  <tourism-smart-transportation-header-status
    [menuValue]="menuValue"
    (GetValueMenu)="onGetValueMenu($event)"
  ></tourism-smart-transportation-header-status>
  <div class="mt-5"></div>
  <div class="body-table">
    <p-table
      #dt
      [value]="rentingPrices"
      responsiveLayout="scroll"
      scrollDirection="both"
      [rows]="5"
      [rowsPerPageOptions]="[5, 25, 50]"
      [paginator]="rentingPrices.length > 0 ? true : false"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Đang xem {first} đến {last} trong tổng {totalRecords} mục"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Năm sản xuất</th>
          <th>Phân loại</th>
          <th>Giá cơ bản (VND)</th>
          <th>Thời gian (giờ)</th>
          <th>Giá theo giờ</th>
          <th>Giá cuối tuần (VND)</th>
          <th>Giá ngày lễ (VND)</th>
          <th>Trạng thái</th>
          <th>Hành động</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rentingPrice let-i="rowIndex">
        <tr>
          <td>{{ rentingPrice.publishYearName }}</td>
          <td>{{ rentingPrice?.categoryName }}</td>
          <td>
            {{
              rentingPrice?.pricePerHour
                | currency: rentingPrice?.pricePerHour:'':'.0-0'
            }}
          </td>
          <td>{{ rentingPrice?.minTime + ' - ' + rentingPrice?.maxTime }}</td>
          <td>
            {{
              rentingPrice?.fixedPrice
                | currency: rentingPrice?.fixedPrice:'':'.0-0'
            }}
          </td>
          <td>
            {{
              rentingPrice?.weekendPrice
                | currency: rentingPrice?.weekendPrice:'':'.0-0'
            }}
          </td>
          <td>
            {{
              rentingPrice?.holidayPrice
                | currency: rentingPrice?.holidayPrice:'':'.0-0'
            }}
          </td>
          <td>
            <div [class]="status[rentingPrice.status].class">
              {{ status[rentingPrice.status].lable }}
            </div>
          </td>
          <td style="text-align: center">
            <span
              class="material-icons-outlined enable"
              style="margin-right: 10px"
              (click)="onDeleteRentingPrice(rentingPrice.id)"
              *ngIf="rentingPrice.status !== 0"
            >
              delete
            </span>
            <span
              class="material-icons-outlined disable"
              style="margin-right: 10px"
              *ngIf="rentingPrice.status === 0"
            >
              delete
            </span>
            <span
              class="material-icons-outlined iconEdit"
              (click)="updateRentingPrice(rentingPrice.id)"
            >
              edit
            </span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="10">Không có nội dung nào để hiển thị.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-confirmDialog #cd [style]="{ width: '450px', height: '101px' }">
  <ng-template pTemplate="header">
    <div class="confirm-dialog-subtitle">
      Bạn có chắc chắn muốn tắt giá này?
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      [style]="{ width: '57', height: '32px' }"
      class="p-button-outlined p-button-rounded"
      pButton
      pRipple
      type="button"
      label="Đóng"
      (click)="cd.reject()"
    ></button>
    <button
      [style]="{ width: '57', height: '32px' }"
      class="p-button-rounded button-rounded"
      pButton
      pRipple
      type="button"
      label="Xóa"
      (click)="cd.accept()"
    ></button>
  </ng-template>
</p-confirmDialog>
<!-- dialog -->
<p-dialog
  [header]="editMode ? 'Chỉnh sửa giá thuê xe' : 'Tạo mới giá đặt xe'"
  [(visible)]="displayDialog"
  [style]="{ width: '464px', height: '645px' }"
  [contentStyle]="{
    'overflow-y': 'auto',
    'overflow-x': 'hidden',
    'max-height': '70vh',
    'min-height': '25vh'
  }"
  [blockScroll]="true"
  [resizable]="true"
  [modal]="true"
>
  <div class="divider"></div>
  <form [formGroup]="rentingPriceForm" class="vehicle-renting-form">
    <div class="mt-4 grid p-fluid">
      <div class="col-12">
        <div class="vehicle-renting-text">
          Năm sản xuất
          <small
            class="p-error"
            *ngIf="_rentingForms['publishYearId'].errors?.['required'] && isSubmit"
          >
            Không được trống
          </small>
        </div>
        <p-dropdown
          class="dropdown"
          [style]="{ width: '420px', height: '28px' }"
          [options]="publishYear"
          optionLabel="name"
          optionValue="id"
          placeholder="Chọn năm sản xuất"
          formControlName="publishYearId"
        ></p-dropdown>
      </div>
      <div class="col-12">
        <div class="vehicle-renting-text">
          Phân loại
          <small
            class="p-error"
            *ngIf="_rentingForms['categoryId'].errors?.['required'] && isSubmit"
          >
            Không được trống
          </small>
        </div>
        <p-dropdown
          class="dropdown"
          [style]="{ width: '420px', height: '28px' }"
          [options]="category"
          optionLabel="name"
          optionValue="id"
          placeholder="Chọn loại xe"
          formControlName="categoryId"
        ></p-dropdown>
      </div>
      <div class="col-12">
        <div class="bus-price-text">
          Khoảng thời gian
          <small
            class="p-error"
            *ngIf="(_rentingForms['minTime'].errors?.['required'] && isSubmit) || (_rentingForms['maxTime'].errors?.['required'] && isSubmit)"
          >
            Không được trống
          </small>
        </div>
        <div class="grid">
          <div class="col-6">
            <div class="input-custom">
              <p-inputNumber
                [style]="{
                  width: '202px',
                  height: '28px'
                }"
                formControlName="minTime"
                (keyup.enter)="onSaveRentingPrice()"
              ></p-inputNumber>
              <span class="input-icon">Giờ</span>
            </div>
          </div>
          <div class="col-6">
            <div class="input-custom">
              <p-inputNumber
                [style]="{
                  width: '202px',
                  height: '28px'
                }"
                formControlName="maxTime"
                (keyup.enter)="onSaveRentingPrice()"
              ></p-inputNumber>
              <span class="input-icon">Giờ</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="vehicle-renting-text">
          Giá theo giờ
          <small
            class="p-error"
            *ngIf="_rentingForms['pricePerHour'].errors?.['required'] && isSubmit"
          >
            Không được trống
          </small>
        </div>
        <div class="input-custom">
          <p-inputNumber
            [style]="{
              width: '420px',
              height: '28px'
            }"
            formControlName="pricePerHour"
            (keyup.enter)="onSaveRentingPrice()"
          ></p-inputNumber>
          <span class="input-icon">VND</span>
        </div>

        <div></div>
      </div>
      <div class="col-12">
        <div class="vehicle-renting-text">
          Giá cơ bản
          <small
            class="p-error"
            *ngIf="_rentingForms['fixedPrice'].errors?.['required'] && isSubmit"
          >
            Không được trống
          </small>
        </div>
        <div class="input-custom">
          <p-inputNumber
            [style]="{
              width: '420px',
              height: '28px'
            }"
            formControlName="fixedPrice"
            (keyup.enter)="onSaveRentingPrice()"
          ></p-inputNumber>
          <span class="input-icon">VND</span>
        </div>

        <div></div>
      </div>
      <div class="col-12">
        <div class="vehicle-renting-text">
          Giá cuối tuần
          <small
            class="p-error"
            *ngIf="_rentingForms['weekendPrice'].errors?.['required'] && isSubmit"
          >
            Không được trống
          </small>
        </div>
        <div class="input-custom">
          <p-inputNumber
            [style]="{
              width: '420px',
              height: '28px'
            }"
            formControlName="weekendPrice"
            (keyup.enter)="onSaveRentingPrice()"
          ></p-inputNumber>
          <span class="input-icon">VND</span>
        </div>

        <div></div>
      </div>
      <div class="col-12">
        <div class="vehicle-renting-text">
          Giá ngày lễ
          <small
            class="p-error"
            *ngIf="_rentingForms['holidayPrice'].errors?.['required'] && isSubmit"
          >
            Không được trống
          </small>
        </div>
        <div class="input-custom">
          <p-inputNumber
            [style]="{
              width: '420px',
              height: '28px'
            }"
            formControlName="holidayPrice"
            (keyup.enter)="onSaveRentingPrice()"
          ></p-inputNumber>
          <span class="input-icon">VND</span>
        </div>

        <div></div>
      </div>
    </div>
  </form>
  <div class="divider" style="margin-top: 15px"></div>
  <ng-template pTemplate="footer">
    <button
      [style]="{ width: '57', height: '32px' }"
      class="p-button-outlined p-button-rounded"
      pButton
      pRipple
      type="button"
      label="Hủy"
      (click)="cancelDialog()"
    ></button>
    <button
      [style]="{ width: '57', height: '32px' }"
      class="p-button-rounded button-rounded"
      pButton
      pRipple
      type="button"
      label="Lưu"
      (click)="onSaveRentingPrice()"
    ></button>
  </ng-template>
</p-dialog>
<!-- endDialog -->
<tourism-smart-transportation-confirm-close-dialog></tourism-smart-transportation-confirm-close-dialog>
<p-toast position="top-right"></p-toast>
