<div class="header-search">
  <span class="p-input-icon-left">
    <i class="material-icons-outlined"> search </i>
    <input
      [style]="{ width: '276px', height: '32px' }"
      type="text"
      pInputText
      placeholder="Tìm kiếm danh sách tài xế"
      (keydown)="onChangeFillterMapDriver($event)"
    />
  </span>
</div>

<div class="body-bottom-content">
  <div class="body-card" (click)="showDetail()">
    <div class="card-header">
      <img src="../../../assets/image/avatar.jpg" alt="" />
      <div>Dương Thanh Sang</div>
    </div>
    <div class="card-body">
      <div class="card-body-left">51B-273.39</div>
      <div class="card-body-right">CTY TNHH vận tải Thanh Sang</div>
    </div>
  </div>
  <!--  -->
  <div class="body-card">
    <div class="card-header">
      <img src="../../../assets/image/avatar.jpg" alt="" />
      <div>Dương Thanh Sang</div>
    </div>
    <div class="card-body">
      <div class="card-body-left">51B-273.39</div>
      <div class="card-body-right">CTY TNHH vận tải Thanh Sang</div>
    </div>
  </div>
  <!--  -->
  <div class="body-card">
    <div class="card-header">
      <img src="../../../assets/image/avatar.jpg" alt="" />
      <div>Dương Thanh Sang</div>
    </div>
    <div class="card-body">
      <div class="card-body-left">51B-273.39</div>
      <div class="card-body-right">CTY TNHH vận tải Thanh Sang</div>
    </div>
  </div>
  <!--  -->
  <div class="body-card">
    <div class="card-header">
      <img src="../../../assets/image/avatar.jpg" alt="" />
      <div>Dương Thanh Sang</div>
    </div>
    <div class="card-body">
      <div class="card-body-left">51B-273.39</div>
      <div class="card-body-right">CTY TNHH vận tải Thanh Sang</div>
    </div>
  </div>
  <!--  -->
  <div class="body-card">
    <div class="card-header">
      <img src="../../../assets/image/avatar.jpg" alt="" />
      <div>Dương Thanh Sang</div>
    </div>
    <div class="card-body">
      <div class="card-body-left">51B-273.39</div>
      <div class="card-body-right">CTY TNHH vận tải Thanh Sang</div>
    </div>
  </div>
  <!--  -->
  <div class="body-card">
    <div class="card-header">
      <img src="../../../assets/image/avatar.jpg" alt="" />
      <div>Dương Thanh Sang</div>
    </div>
    <div class="card-body">
      <div class="card-body-left">51B-273.39</div>
      <div class="card-body-right">CTY TNHH vận tải Thanh Sang</div>
    </div>
  </div>
  <!--  -->
  <div class="body-card">
    <div class="card-header">
      <img src="../../../assets/image/avatar.jpg" alt="" />
      <div>Dương Thanh Sang</div>
    </div>
    <div class="card-body">
      <div class="card-body-left">51B-273.39</div>
      <div class="card-body-right">CTY TNHH vận tải Thanh Sang</div>
    </div>
  </div>
  <!--  -->
  <div class="body-card">
    <div class="card-header">
      <img src="../../../assets/image/avatar.jpg" alt="" />
      <div>Dương Thanh Sang</div>
    </div>
    <div class="card-body">
      <div class="card-body-left">51B-273.39</div>
      <div class="card-body-right">CTY TNHH vận tải Thanh Sang</div>
    </div>
  </div>
  <!--  -->
</div>
