<div
  class="side-bar"
  [ngClass]="status ? 'open' : 'close'"
  (mouseenter)="mouseEnter()"
  (mouseleave)="mouseLeave()"
>
  <div class="btn pb-8"></div>
  <div>
    <div class="{{ status ? 'header-logo' : 'header-logo-off' }}">
      <div
        class="flex justify-content-start header-logo--content"
        style="position: relative"
      >
        <div class="imageLogo">
          <img
            src="https://img.icons8.com/external-filled-outline-geotatah/64/000000/external-tourism-industrial-revolution-color-filled-outline-geotatah.png"
          />
        </div>
        <div class="logo--content--button">
          <div
            class="btn-lock"
            [ngClass]="statusLink ? 'hidden-logo' : ''"
            (click)="onToggle()"
          >
            <mat-icon class="material-icons-outlined iconLock">{{
              locked ? 'lock' : 'lock_open'
            }}</mat-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="sideBarOrta" [ngClass]="statusLink ? 'navClose' : ''">
      <ul>
        <div class="navbar-wrap">
          <li
            [class]="status ? 'nav-item' : 'nav-item-off'"
            routerLinkActive="active-link"
            #rla="routerLinkActive"
          >
            <div class="nav-link" routerLink="/dashboard">
              <mat-icon
                [ngClass]="
                  rla.isActive ? 'material-icons' : 'material-icons-outlined'
                "
                >dashboard</mat-icon
              >

              <div
                class="icon-title"
                [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow'"
              >
                Bảng điều khiển
              </div>
            </div>
          </li>
        </div>
        <li
          [class]="status ? 'nav-item' : 'nav-item-off '"
          routerLinkActive="active-link"
          #partner="routerLinkActive"
        >
          <div class="nav-link" href="" routerLink="/account-partners">
            <mat-icon
              [ngClass]="
                partner.isActive ? 'material-icons' : 'material-icons-outlined'
              "
              >{{
                partner.isActive ? 'handshake' : 'handshake_outlined'
              }}</mat-icon
            >
            <div
              class="icon-title"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow'"
            >
              Đối tác
            </div>
          </div>
        </li>
        <li
          [class]="status ? 'nav-item' : 'nav-item-off'"
          routerLinkActive="active-link"
          #user="routerLinkActive"
        >
          <div class="nav-link" routerLink="/account-customers">
            <mat-icon
              [ngClass]="
                user.isActive ? 'material-icons' : 'material-icons-outlined'
              "
              >{{ user.isActive ? 'group' : 'group_outlined' }}</mat-icon
            >

            <div
              class="icon-title"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow'"
            >
              Khách hàng
            </div>
          </div>
        </li>
        <!-- Gối dịch vụ -->
        <li
          [class]="status ? 'nav-item' : 'nav-item-off'"
          routerLinkActive="active-link"
          #service="routerLinkActive"
        >
          <div class="nav-link" routerLink="/manage-service">
            <i
              style="width: 24px; height: 24px; font-size: 24px"
              nz-icon
              nzType="gift"
              [nzTheme]="service.isActive ? 'fill' : 'outline'"
            ></i>

            <div
              class="icon-title"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow'"
            >
              Gói dịch vụ
            </div>
          </div>
        </li>
        <!-- Khuyến mãi -->
        <li
          [class]="status ? 'nav-item' : 'nav-item-off'"
          routerLinkActive="active-link"
          #discount="routerLinkActive"
        >
          <div class="nav-link" routerLink="/discount">
            <mat-icon
              [ngClass]="
                discount.isActive ? 'material-icons' : 'material-icons-outlined'
              "
              >{{
                discount.isActive ? 'discount_outlined' : 'discount'
              }}</mat-icon
            >
            <div
              class="icon-title"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow'"
            >
              Khuyến mãi
            </div>
          </div>
        </li>
        <!-- Bản đồ -->
        <li
          [class]="status ? 'nav-item' : 'nav-item-off'"
          routerLinkActive="active-link"
          #map="routerLinkActive"
        >
          <div class="nav-link" routerLink="/map">
            <mat-icon
              [ngClass]="
                map.isActive ? 'material-icons' : 'material-icons-outlined'
              "
              >{{ map.isActive ? 'map' : 'map_outlined' }}</mat-icon
            >

            <div
              class="icon-title"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow'"
            >
              Bản đồ
            </div>
          </div>
        </li>
        <li
          [class]="status ? 'nav-item' : 'nav-item-off'"
          [ngClass]="
            (stg.isActive || stg1.isActive) && !status ? 'active-link' : ''
          "
        >
          <div class="nav-link relative" (click)="onShowMoreSetting()">
            <mat-icon
              [ngClass]="
                stg.isActive || stg1.isActive
                  ? 'material-icons'
                  : 'material-icons-outlined'
              "
              >settings</mat-icon
            >
            <div
              class="icon-title"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow'"
            >
              Cấu hình
            </div>
            <span
              class="absolute icon-chevron"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow '"
              ><i
                [ngClass]="
                  showMoreService ? 'pi pi-chevron-up ' : 'pi pi-chevron-down'
                "
              ></i
            ></span>
          </div>
        </li>
        <ul [ngClass]="showMoreService ? '' : 'navLinkDar'">
          <li
            class="nav-item-content"
            [ngClass]="statusLink ? 'navLinkDar' : ''"
            routerLinkActive="active-link-content"
            #stg1="routerLinkActive"
          >
            <div class="nav-link-content" routerLink="/setting/price-default">
              <div [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow '">
                Giá cơ bản
              </div>
            </div>
          </li>
          <li
            class="nav-item-content"
            [ngClass]="statusLink ? 'navLinkDar' : ''"
            routerLinkActive="active-link-content"
            #stg="routerLinkActive"
          >
            <div class="nav-link-content" routerLink="/setting/service-type">
              <!-- <span class="navIcon"> <i class="fas fa-user"></i></span> -->
              <div [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow '">
                Loại Dịch vụ
              </div>
            </div>
          </li>
        </ul>
        <!---->
      </ul>
    </div>
  </div>
  <div
    class="footer-avatar"
    [ngClass]="displayAvatar ? 'avatar-fade-up' : ''"
    (click)="onClickAvatar()"
  >
    <div class="footer-avatar-content">
      <img
        class="avatarImage"
        [ngClass]="displayAvatar ? 'outline-img' : ''"
        src="../../../assets/image/avatar.jpg"
        alt=""
      />
      <span
        class="footer-avatar-name"
        [ngClass]="statusLink ? 'navLinkDar' : 'showName'"
      >
        Sang Đẹp Trai
      </span>
      <i
        class="{{ displayAvatar ? 'pi pi-chevron-down' : 'pi pi-chevron-up' }}"
        [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow '"
      ></i>
    </div>
    <div
      class="footer"
      [ngClass]="displayAvatar ? 'footer-content-block' : 'footer-content'"
    >
      <div class="flex content-item" (click)="onLogout()">
        <span class="material-icons-outlined"> power_settings_new </span>
        <div class="content-item-name">Đăng xuất</div>
      </div>
      <div class="flex content-item">
        <span class="material-icons-outlined"> person </span>
        <div class="content-item-name">Tài Khoản</div>
      </div>
    </div>
  </div>
</div>
