<div
  class="side-bar"
  [ngClass]="status ? 'open' : 'close'"
  (mouseenter)="mouseEnter()"
  (mouseleave)="mouseLeave()"
>
  <div class="btn pb-8">
    <!-- <button
      class="btn-open"
      [ngClass]="status ? 'hidden-logo' : ''"
      (click)="onToggle()"
    >
      <mat-icon class="material-icons-outlined">{{
        locked ? 'lock' : 'lock_open'
      }}</mat-icon>
    </button> -->
  </div>
  <div>
    <div class="logo">
      <div
        class="flex justify-content-start logo-avatar"
        style="position: relative"
      >
        <div class="flex">
          <!-- <p [ngClass]="status ? 'ml-3' : 'hidden-logo'"></p> -->
          <img
            style="width: 50px; height: 50px"
            src="https://img.icons8.com/external-filled-outline-geotatah/64/000000/external-tourism-industrial-revolution-color-filled-outline-geotatah.png"
          />
        </div>
        <button
          class="btn-lock"
          [ngClass]="statusLink ? 'hidden-logo' : ''"
          (click)="onToggle()"
        >
          <mat-icon class="material-icons-outlined">{{
            locked ? 'lock' : 'lock_open'
          }}</mat-icon>
        </button>
      </div>
    </div>
    <div class="mt-7"></div>
    <div class="sideBarOrta" [ngClass]="statusLink ? 'navClose' : ''">
      <ul>
        <li
          class="nav-item"
          routerLinkActive="active-link"
          #rla="routerLinkActive"
        >
          <a class="nav-link" routerLink="/dashboard">
            <mat-icon
              [ngClass]="
                rla.isActive ? 'material-icons' : 'material-icons-outlined'
              "
              >dashboard</mat-icon
            >

            <div
              class="icon-title"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow'"
            >
              Bảng điều khiển
            </div>
          </a>
        </li>
        <li
          class="nav-item"
          routerLinkActive="active-link"
          #partner="routerLinkActive"
        >
          <a class="nav-link" href="" routerLink="/account-partner">
            <mat-icon
              [ngClass]="
                partner.isActive ? 'material-icons' : 'material-icons-outlined'
              "
              >{{ partner.isActive ? 'person' : 'person_outlined' }}</mat-icon
            >
            <div
              class="icon-title"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow'"
            >
              Tài khoản đối tác
            </div>
          </a>
        </li>
        <li
          class="nav-item"
          routerLinkActive="active-link"
          #user="routerLinkActive"
        >
          <a class="nav-link" routerLink="/account-users">
            <mat-icon
              [ngClass]="
                user.isActive ? 'material-icons' : 'material-icons-outlined'
              "
              >{{ user.isActive ? 'person' : 'person_outlined' }}</mat-icon
            >

            <div
              class="icon-title"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow'"
            >
              Tài khoản người dùng
            </div>
          </a>
        </li>
        <!--Dịch Vụ-->
        <li
          class="nav-item"
          [ngClass]="
            (stg.isActive || stg2.isActive) && !status ? 'active-link' : ''
          "
        >
          <a
            style="cursor: pointer"
            class="nav-link relative"
            (click)="onShowMoreSetting()"
          >
            <mat-icon
              [ngClass]="
                stg.isActive || stg2.isActive
                  ? 'material-icons'
                  : 'material-icons-outlined'
              "
              >settings</mat-icon
            >
            <div
              class="icon-title"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow'"
            >
              Quản lý dịch vụ
            </div>
            <span
              class="absolute icon-chevron"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow '"
              ><i
                [ngClass]="
                  showMoreService ? 'pi pi-chevron-up ' : 'pi pi-chevron-down'
                "
              ></i
            ></span>
          </a>
        </li>
        <ul [ngClass]="showMoreService ? '' : 'navLinkDar'">
          <li
            class="nav-item nav-item-content"
            [ngClass]="statusLink ? 'navLinkDar' : ''"
            routerLinkActive="active-link"
            #stg="routerLinkActive"
          >
            <a class="nav-link" href="" routerLink="/setting/services">
              <!-- <span class="navIcon"> <i class="fas fa-user"></i></span> -->
              <span [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow '"
                >Dịch vụ</span
              >
            </a>
          </li>
          <li
            class="nav-item"
            [ngClass]="statusLink ? 'navLinkDar' : ''"
            routerLinkActive="active-link"
            #stg2="routerLinkActive"
          >
            <a class="nav-link" routerLink="/setting/discount">
              <!-- <span class="navIcon"> <i class="fas fa-user"></i></span> -->
              <span [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow '"
                >Khuyến mãi</span
              >
            </a>
          </li>
        </ul>
        <!--End Dịch vụ-->
        <!--Bản Đồ-->
        <li
          class="nav-item"
          [ngClass]="
            (sMap.isActive ||
              sMap2.isActive ||
              sMap3.isActive ||
              sMap4.isActive) &&
            !status
              ? 'active-link'
              : ''
          "
        >
          <a
            style="cursor: pointer"
            class="nav-link relative"
            (click)="onShowMoreMap()"
          >
            <mat-icon
              [ngClass]="
                sMap.isActive ||
                sMap2.isActive ||
                sMap3.isActive ||
                sMap4.isActive
                  ? 'material-icons'
                  : 'material-icons-outlined'
              "
              >map</mat-icon
            >
            <div
              class="icon-title"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow'"
            >
              Bản Đồ
            </div>
            <span
              class="absolute icon-chevron"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow '"
              ><i
                [ngClass]="
                  showMoreMap ? 'pi pi-chevron-up ' : 'pi pi-chevron-down'
                "
              ></i
            ></span>
          </a>
        </li>
        <ul [ngClass]="showMoreMap ? '' : 'navLinkDar'">
          <li
            class="nav-item nav-item-content"
            [ngClass]="statusLink ? 'navLinkDar' : ''"
            routerLinkActive="active-link"
            #sMap="routerLinkActive"
          >
            <a class="nav-link" href="" routerLink="/map/station-car-rental">
              <span [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow '"
                >Trạm cho thuê xe
              </span>
            </a>
          </li>
          <li
            class="nav-item"
            [ngClass]="statusLink ? 'navLinkDar' : ''"
            routerLinkActive="active-link"
            #sMap2="routerLinkActive"
          >
            <a class="nav-link" routerLink="/map/route">
              <span [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow '"
                >Tuyến đường</span
              >
            </a>
          </li>
          <li
            class="nav-item nav-item-content"
            [ngClass]="statusLink ? 'navLinkDar' : ''"
            routerLinkActive="active-link"
            #sMap3="routerLinkActive"
          >
            <a class="nav-link" href="" routerLink="/map/station-static">
              <span [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow '"
                >Trạm cố định</span
              >
            </a>
          </li>
          <li
            class="nav-item"
            [ngClass]="statusLink ? 'navLinkDar' : ''"
            routerLinkActive="active-link"
            #sMap4="routerLinkActive"
          >
            <a class="nav-link" routerLink="/map/driver">
              <span [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow '"
                >Tài xế</span
              >
            </a>
          </li>
        </ul>
        <!--End Bản Đồ-->

        <!--Quản lý tài chính-->
        <li
          class="nav-item"
          [ngClass]="
            (financeStatus.isActive ||
              financeStatus2.isActive ||
              financeStatus3.isActive) &&
            !status
              ? 'active-link'
              : ''
          "
        >
          <a
            style="cursor: pointer"
            class="nav-link relative"
            (click)="onShowMoreFinance()"
          >
            <mat-icon
              [ngClass]="
                financeStatus.isActive ||
                financeStatus2.isActive ||
                financeStatus3.isActive
                  ? 'material-icons'
                  : 'material-icons-outlined'
              "
              >account_balance</mat-icon
            >
            <div
              class="icon-title"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow'"
            >
              Quản lý tài chính
            </div>
            <span
              class="absolute icon-chevron"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow '"
              ><i
                [ngClass]="
                  showMoreFinance ? 'pi pi-chevron-up ' : 'pi pi-chevron-down'
                "
              ></i
            ></span>
          </a>
        </li>
        <ul [ngClass]="showMoreFinance ? '' : 'navLinkDar'">
          <li
            class="nav-item nav-item-content"
            [ngClass]="statusLink ? 'navLinkDar' : ''"
            routerLinkActive="active-link"
            #financeStatus="routerLinkActive"
          >
            <a class="nav-link" href="" routerLink="/finance/wallet">
              <span [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow '"
                >Ví</span
              >
            </a>
          </li>
          <li
            class="nav-item"
            [ngClass]="statusLink ? 'navLinkDar' : ''"
            routerLinkActive="active-link"
            #financeStatus2="routerLinkActive"
          >
            <a class="nav-link" routerLink="/finance/transaction">
              <span [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow '"
                >Giao Dịch</span
              >
            </a>
          </li>
          <li
            class="nav-item"
            [ngClass]="statusLink ? 'navLinkDar' : ''"
            routerLinkActive="active-link"
            #financeStatus3="routerLinkActive"
          >
            <a class="nav-link" routerLink="/finance/payment">
              <span [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow '"
                >Thanh Toán</span
              >
            </a>
          </li>
        </ul>
        <!--End -->

        <!---->
      </ul>
    </div>
  </div>
  <div
    class="footer-avatar"
    [ngClass]="displayAvatar ? 'avatar-fade-up' : ''"
    (click)="onClickAvatar()"
  >
    <div class="footer-avatar-content">
      <img
        class="avatarImage"
        [ngClass]="displayAvatar ? 'outline-img' : ''"
        src="../../../assets/image/avatar.jpg"
        alt=""
      />
      <span
        class="footer-avatar-name"
        [ngClass]="statusLink ? 'navLinkDar' : 'showName'"
      >
        Sang Đẹp Trai
      </span>
      <i
        class="pi pi-chevron-down"
        [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow '"
      ></i>
    </div>
    <div
      class="footer"
      [ngClass]="displayAvatar ? 'footer-content-block' : 'footer-content'"
    >
      <div class="flex content-item" (click)="onLogout()">
        <span class="material-icons-outlined"> power_settings_new </span>
        <div class="content-item-name">Đăng xuất</div>
      </div>
      <div class="flex content-item">
        <span class="material-icons-outlined"> person </span>
        <div class="content-item-name">Tài Khoản</div>
      </div>
    </div>
  </div>
</div>
