.side-bar {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  position: relative;
}
.btn {
  position: relative;
}
.logo {
  width: 100%;
  height: 48px;
  &-avatar {
    padding-left: 6.5px;
    .btn-lock {
      z-index: 1;
    }
  }
}
.btn-open {
  position: absolute;
  text-align: center;
  margin-top: 2rem;
  right: 25%;
  background-color: rgba(0, 0, 0, 0.062);
  border: none;
  outline: none;
  width: 2rem;
  height: 2rem;
  border-radius: 26%;
  transition: 0.4s;
  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  i {
    font-size: 1.2rem;
  }
}

.open {
  width: 280px;
  transition: 0.4s;
}
.close {
  width: 60px;
  transition: 0.4s;
}
.hidden-logo {
  display: none;
  // transition: 0.4s;
  visibility: hidden;
}
.show-logo-lock {
  display: inline-block;
  visibility: visible;
}
.sideBarOrta {
}
.btn-lock {
  position: absolute;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.062);
  border: none;
  outline: none;
  width: 3.3rem;
  height: 100%;
  border-radius: 26%;
  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  i {
    font-size: 1.2rem;
  }
}
ul {
  padding-inline-start: 0px;
  ul {
    .active-link {
      background-color: rgba(0, 0, 0, 0.05);
      border-left: 4px solid;
      color: rgb(48, 213, 200);
      padding-left: 36px !important;
    }
    li {
      padding-left: 40px;
      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }
  .active {
    background-color: rgba(0, 0, 0, 0.05);
    border-left: 4px solid;
    color: rgb(48, 213, 200);
    padding-left: 12px !important;
  }
  li {
    list-style-type: none;
    padding: 12px 0 12px 17px;

    .nav-link {
      display: flex;
      text-decoration: none;
      color: var(--text-color);
      .icon-chevron {
        right: 10%;
        padding-top: 2.5px;
      }
      .icon-title {
        padding-top: 2.5px;
      }
      .icon {
        margin-right: 2px;
        padding-right: 15px;
      }
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}

.navLinkDar {
  display: none;
  visibility: hidden;
}

.navLinkShow {
  display: inline-block;
  visibility: visible;
  padding-left: 2rem;
}
.navClose {
}
// .navIconClose {
//   font-size: 1.5rem;
//   transition: 0.4s;
// }
.active-link {
  background-color: rgba(0, 0, 0, 0.05);
  padding-left: 13px !important;
  border-left: 4px solid;
  color: rgb(48, 213, 200);
}
.footer-avatar {
  position: absolute;
  bottom: 5%;
  left: 0%;
  width: 100%;
  .footer-avatar-content {
    display: flex;
    justify-content: start;
    position: relative;
    .avatarImage {
      width: 48px;
      height: 48px;
      margin-left: 6.5px;
    }
    img {
      border-radius: 50%;
      background-size: cover;
      object-fit: cover;
    }
    div {
      position: absolute;
      right: 40%;
      top: 30%;
      color: var(--text-color);
    }
    i {
      position: absolute;
      right: 10%;
      top: 30%;
      color: var(--text-color);
    }
  }
}
