<div
  class="side-bar"
  [ngClass]="status ? 'open' : 'close'"
  (mouseover)="mouseEnter()"
  (mouseleave)="mouseLeave()"
>
  <div class="btn pb-8"></div>
  <div>
    <div class="{{ status ? 'header-logo' : 'header-logo-off' }}">
      <div
        class="flex justify-content-start header-logo--content"
        style="position: relative"
      >
        <div class="imageLogo">
          <!-- <img
            src="https://img.icons8.com/external-filled-outline-geotatah/64/000000/external-tourism-industrial-revolution-color-filled-outline-geotatah.png"
          /> -->
          <img src="../../../assets/image/logo.png" alt="" />
        </div>
        <div class="logo--content--button">
          <div
            class="btn-lock"
            [ngClass]="statusLink ? 'hidden-logo' : ''"
            (click)="onToggle()"
          >
            <mat-icon class="material-icons-outlined iconLock">{{
              locked ? 'lock' : 'lock_open'
            }}</mat-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="sideBarOrta" [ngClass]="statusLink ? 'navClose' : ''">
      <ul>
        <div class="navbar-wrap">
          <li
            [class]="status ? 'nav-item' : 'nav-item-off'"
            routerLinkActive="active-link"
            #rla="routerLinkActive"
          >
            <div class="nav-link" routerLink="/admin/dashboard">
              <mat-icon
                [ngClass]="
                  rla.isActive ? 'material-icons' : 'material-icons-outlined'
                "
                >dashboard</mat-icon
              >

              <div
                class="icon-title"
                [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow'"
              >
                Bảng điều khiển
              </div>
            </div>
          </li>
        </div>
        <li
          [class]="status ? 'nav-item' : 'nav-item-off '"
          routerLinkActive="active-link"
          #partner="routerLinkActive"
        >
          <div class="nav-link" href="" routerLink="/admin/account-partners">
            <mat-icon
              [ngClass]="
                partner.isActive ? 'material-icons' : 'material-icons-outlined'
              "
              >{{
                partner.isActive ? 'handshake' : 'handshake_outlined'
              }}</mat-icon
            >
            <div
              class="icon-title"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow'"
            >
              Đối tác
            </div>
          </div>
        </li>
        <li
          [class]="status ? 'nav-item' : 'nav-item-off'"
          routerLinkActive="active-link"
          #user="routerLinkActive"
        >
          <div class="nav-link" routerLink="/admin/account-customers">
            <mat-icon
              [ngClass]="
                user.isActive ? 'material-icons' : 'material-icons-outlined'
              "
              >{{ user.isActive ? 'group' : 'group_outlined' }}</mat-icon
            >

            <div
              class="icon-title"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow'"
            >
              Khách hàng
            </div>
          </div>
        </li>
        <!-- Gối dịch vụ -->
        <li
          [class]="status ? 'nav-item' : 'nav-item-off'"
          routerLinkActive="active-link"
          #service="routerLinkActive"
        >
          <div class="nav-link" routerLink="/admin/manage-service">
            <i
              style="width: 24px; height: 24px; font-size: 24px"
              nz-icon
              nzType="gift"
              [nzTheme]="service.isActive ? 'fill' : 'outline'"
            ></i>

            <div
              class="icon-title"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow'"
            >
              Gói dịch vụ
            </div>
          </div>
        </li>
        <!-- Khuyến mãi -->
        <li
          [class]="status ? 'nav-item' : 'nav-item-off'"
          routerLinkActive="active-link"
          #discount="routerLinkActive"
        >
          <div class="nav-link" routerLink="/admin/discount">
            <mat-icon
              [ngClass]="
                discount.isActive ? 'material-icons' : 'material-icons-outlined'
              "
              >{{
                discount.isActive ? 'discount_outlined' : 'discount'
              }}</mat-icon
            >
            <div
              class="icon-title"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow'"
            >
              Khuyến mãi
            </div>
          </div>
        </li>
        <!-- Card  -->
        <li
          [class]="status ? 'nav-item' : 'nav-item-off'"
          routerLinkActive="active-link"
          #card="routerLinkActive"
        >
          <div class="nav-link" routerLink="/admin/card">
            <mat-icon
              [ngClass]="
                card.isActive ? 'material-icons' : 'material-icons-outlined'
              "
              >{{ card.isActive ? 'payment_outlined' : 'payment' }}</mat-icon
            >
            <div
              class="icon-title"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow'"
            >
              Thẻ
            </div>
          </div>
        </li>
        <!-- End Card -->
        <!-- Bản đồ -->
        <li
          [class]="status ? 'nav-item' : 'nav-item-off'"
          routerLinkActive="active-link"
          #map="routerLinkActive"
        >
          <div class="nav-link" routerLink="/admin/map">
            <mat-icon
              [ngClass]="
                map.isActive ? 'material-icons' : 'material-icons-outlined'
              "
              >{{ map.isActive ? 'map' : 'map_outlined' }}</mat-icon
            >

            <div
              class="icon-title"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow'"
            >
              Bản đồ
            </div>
          </div>
        </li>

        <!-- <li
          [class]="status ? 'nav-item' : 'nav-item-off'"
          routerLinkActive="active-link"
          #standardPrice="routerLinkActive"
        >
          <div class="nav-link" routerLink="/standard-price">
            <mat-icon
              [ngClass]="
                standardPrice.isActive
                  ? 'material-icons'
                  : 'material-icons-outlined'
              "
              >{{
                standardPrice.isActive
                  ? 'price_change'
                  : 'price_change_outlined'
              }}</mat-icon
            >

            <div
              class="icon-title"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow'"
            >
              Giá cơ bản
            </div>
          </div>
        </li> -->
        <li
          [class]="status ? 'nav-item' : 'nav-item-off'"
          [ngClass]="
            (price.isActive ||
              price1.isActive ||
              price2.isActive ||
              price3.isActive ||
              price4.isActive ||
              price5.isActive) &&
            !status
              ? 'active-link'
              : ''
          "
        >
          <div class="nav-link relative" (click)="onShowMoreSetting()">
            <mat-icon
              [ngClass]="
                price.isActive ||
                price1.isActive ||
                price2.isActive ||
                price3.isActive ||
                price4.isActive ||
                price5.isActive
                  ? 'material-icons'
                  : 'material-icons-outlined'
              "
              >settings</mat-icon
            >
            <div
              class="icon-title"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow'"
            >
              Cấu hình
            </div>
            <span
              class="absolute icon-chevron"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow '"
              ><i
                [ngClass]="
                  showMoreService ? 'pi pi-chevron-up ' : 'pi pi-chevron-down'
                "
              ></i
            ></span>
          </div>
        </li>

        <ul [ngClass]="showMoreService ? '' : 'navLinkDar'">
          <li
            class="nav-item-content"
            [ngClass]="statusLink ? 'navLinkDar' : ''"
            routerLinkActive="active-link-content"
            #price3="routerLinkActive"
          >
            <div
              class="nav-link-content"
              routerLink="/admin/setting/vehicle-type"
            >
              <div [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow '">
                Loại xe
              </div>
            </div>
          </li>
          <li
            class="nav-item-content"
            [ngClass]="statusLink ? 'navLinkDar' : ''"
            routerLinkActive="active-link-content"
            #price4="routerLinkActive"
          >
            <div
              class="nav-link-content"
              routerLink="/admin/setting/vehicle-class"
            >
              <div [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow '">
                Phân khúc xe
              </div>
            </div>
          </li>
          <li
            class="nav-item-content"
            [ngClass]="statusLink ? 'navLinkDar' : ''"
            routerLinkActive="active-link-content"
            #price5="routerLinkActive"
          >
            <div
              class="nav-link-content"
              routerLink="/admin/setting/vehicle-manufacture-year"
            >
              <div [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow '">
                Năm sản xuất xe
              </div>
            </div>
          </li>
          <li
            class="nav-item-content"
            [ngClass]="statusLink ? 'navLinkDar' : ''"
            routerLinkActive="active-link-content"
            #price="routerLinkActive"
          >
            <div class="nav-link-content" routerLink="/admin/setting/bus-price">
              <div [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow '">
                Giá xe buýt
              </div>
            </div>
          </li>
          <li
            class="nav-item-content"
            [ngClass]="statusLink ? 'navLinkDar' : ''"
            routerLinkActive="active-link-content"
            #price1="routerLinkActive"
          >
            <div
              class="nav-link-content"
              routerLink="/admin/setting/vehicle-booking-price"
            >
              <div [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow '">
                Giá đặt xe
              </div>
            </div>
          </li>
          <li
            class="nav-item-content"
            [ngClass]="statusLink ? 'navLinkDar' : ''"
            routerLinkActive="active-link-content"
            #price2="routerLinkActive"
          >
            <div
              class="nav-link-content"
              routerLink="/admin/setting/vehicle-renting-price"
            >
              <div [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow '">
                Giá thuê xe
              </div>
            </div>
          </li>
        </ul>
      </ul>
    </div>
  </div>
  <div
    class="footer-avatar"
    [ngClass]="displayAvatar ? 'avatar-fade-up' : ''"
    (click)="onClickAvatar()"
  >
    <div class="footer-avatar-content">
      <img
        class="avatarImage"
        [ngClass]="displayAvatar ? 'outline-img' : ''"
        src="../../../assets/image/avatar.jpg"
        alt=""
      />

      <div
        class="footer-name"
        [ngClass]="statusName ? 'showName' : 'navLinkDar'"
      >
        <span>Thanh Sang (Admin) </span>
        <i
          class="{{
            displayAvatar ? 'pi pi-chevron-down' : 'pi pi-chevron-up'
          }}"
        ></i>
      </div>
    </div>

    <div
      class="footer"
      [ngClass]="displayAvatar ? 'footer-content-block' : 'footer-content'"
    >
      <div
        class="flex content-item"
        routerLinkActive="active-link"
        #profile="routerLinkActive"
        routerLink="/admin/profile"
      >
        <span class="material-icons-outlined"> person </span>
        <div class="content-item-name">Tài Khoản</div>
      </div>
      <div class="flex content-item" (click)="onLogout()">
        <span class="material-icons-outlined"> power_settings_new </span>
        <div class="content-item-name">Đăng xuất</div>
      </div>
    </div>
  </div>
</div>
