<div class="card-background">
  <div class="card centered">
    <img class="logo" src="../../../assets/image/logo.svg" />
    <span class="material-icons chip"> memory </span>

    <!-- <img src="https://img.icons8.com/ios/452/sim-card-chip.png" /> -->
    <p class="digits">{{ cardNumber }}</p>
    <p class="name">{{ userName }}</p>
    <!--   <div style="display: block; float: right">
      <div class="valid-text">
        Valid Thru<br />
        <div class="valid-date">4/22</div>
      </div>
      <div></div>
    </div>
  </div> -->
  </div>
</div>
