<div class="header-services">
  <div class="header-services-content">
    <div class="header-item"><p>Dịch vụ</p></div>
    <div class="header-item">
      <button
        pButton
        pRipple
        type="button"
        label="Xuất excel"
        class="p-button-outlined p-button-rounded"
      ></button>
    </div>
    <div class="header-item">
      <button
        pButton
        pRipple
        type="button"
        label="Tạo mới"
        class="p-button-rounded button-background"
      ></button>
    </div>
    <div class="header-item header-search">
      <span class="p-input-icon-left">
        <i class="material-icons-outlined"> search </i>
        <input type="text" pInputText placeholder="Tìm kiếm theo tên, mã,…" />
      </span>
    </div>
  </div>
  <div class="header-status">
    <div
      class="status-item"
      [ngClass]="selected === '1' ? 'active' : ''"
      (click)="navmenuclick('1')"
    >
      <span>Tất cả</span>
    </div>
    <div
      class="status-item"
      [ngClass]="selected === '2' ? 'active' : ''"
      (click)="navmenuclick('2')"
    >
      <span>Kích Hoạt</span>
    </div>
    <div
      class="status-item"
      [ngClass]="selected === '3' ? 'active' : ''"
      (click)="navmenuclick('3')"
    >
      <span>Vô hiệu hóa</span>
    </div>
    <div class="status-item-right">
      <span class="status-item-right-title">Hiển thị bộ lọc</span>
      <i
        class="material-icons-outlined"
        (click)="onToggle()"
        [@openCloseIcon]="isOpenIconFillter ? 'openIcon' : 'closeIcon'"
      >
        filter_list
      </i>
    </div>
  </div>
  <div class="mt-5"></div>
  <div class="body-table">
    <p-table
      [value]="services"
      responsiveLayout="scroll"
      scrollDirection="both"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Tên</th>
          <th>Mã</th>
          <th>Ngày tạo</th>
          <th>Người tạo</th>
          <th>Ngày sửa</th>
          <th>Người sửa</th>
          <th>trạng thái</th>
          <th><span class="material-icons"> more_horiz </span></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-service let-i="rowIndex">
        <tr>
          <td>{{ service.name }}</td>
          <td>{{ service.code }}</td>
          <td>{{ service.createDate }}</td>
          <td>{{ service.userCreate }}</td>
          <td>{{ service.editDate }}</td>
          <td>{{ service.userEdit }}</td>
          <td>{{ service.status }}</td>
          <td><span class="material-icons-outlined"> delete_outline </span></td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
