@import '../../../styles.scss';
// invoice
.invoice {
  padding: 0 25px;
}
.invoice-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .invoice-left {
    img {
      display: block;
      width: 80px;
      height: 80px;
    }
    .invoice-logo {
      display: flex;
      justify-items: center;
      align-items: center;
      h1 {
        margin-left: 10px;
        color: $primary-color;
        letter-spacing: 0.6rem;
        font-size: 2rem;
        font-weight: 600;
      }
      margin-bottom: 2rem;
    }
  }
  .invoice-right {
    margin: 1rem 0;
    font-size: 1.2rem;
  }
}
.invoice-content {
  font-size: 1.2rem;
  .invoice-name {
    font-weight: bold;
  }
}
.invoice-item {
  margin-top: 2rem;
  padding: 0 1.2rem;
  table {
    width: 100%;
    margin: auto 0;
    th {
      text-align: start;
      font-size: 1.2rem;
    }
    th:last-child {
      text-align: end;
    }

    td {
      font-size: 1.2rem;
      border-bottom: 0.1px solid $expired-grey;
      padding: 10px 0px;
    }
    td:last-child {
      text-align: end;
    }
  }
}
.invoice-total-price {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 500;
}
.status-paid {
  @include status-paid;
}
.status-disabled {
  @include status-disabled;
}
.status-active {
  @include status-active;
}
.status-completed {
  @include status-completed;
}
.status-cancel {
  @include status-unpaid;
}
.status-used {
  @include status-used;
}
.status-expired {
  @include status-expried;
}
.status-unlinked {
  width: 139px !important;
  @include status-unlinked;
}
