<div class="invoice">
  <div class="invoice-header">
    <div class="invoice-left">
      <div class="invoice-logo">
        <img src="../../../../assets/image/logo.svg" alt="" />
        <h1>Hyper</h1>
      </div>
    </div>
    <div class="invoice-right">
      <div
        [class]="orderStatus[invoiceTotal?.status!]?.class"
        style="margin: auto"
      >
        {{ orderStatus[invoiceTotal?.status!]?.lable }}
      </div>
      <div>
        Hóa đơn:
        {{ invoiceDetails[0]?.orderId | slice: 0:11 }}
      </div>
      <div>
        Ngày tạo: {{ invoiceDetails[0]?.createdDate | date: 'dd/MM/YYYY' }}
      </div>
    </div>
  </div>
  <div class="invoice-header">
    <div class="invoice-content">
      <div>Tên khách hàng</div>
      <div class="invoice-name">{{ invoiceDetails[0]?.customerName }}</div>
    </div>
    <div class="invoice-content">
      <div *ngIf="invoiceDetails[0]?.companyName !== null">Tên công ty</div>
      <div class="invoice-name">{{ invoiceDetails[0]?.companyName }}</div>
    </div>
  </div>
  <div class="invoice-item">
    <table>
      <tr>
        <th>Nội dung</th>
        <th>Số tiền</th>
      </tr>
      <tr class="table-content" *ngFor="let item of invoiceDetails">
        <td>{{ item?.content }}</td>
        <td>{{ item?.amount | currency: item.amount:'':'.0-0' }}đ</td>
      </tr>
    </table>
    <div class="invoice-total-price">
      <div>Tổng tiền</div>
      <div>
        {{
          invoiceTotal?.totalPrice
            | currency: invoiceTotal?.totalPrice:'':'.0-0'
        }}đ
      </div>
    </div>
  </div>
</div>
