<div class="rent-station-detail">
  <div style="margin-top: 10px"></div>
  <div class="rent-station-container">
    <div class="rent-station-title">
      <div>Tên</div>
    </div>
    <div class="rent-station-content">
      <div>{{ RentStation?.title }}</div>
    </div>
  </div>
  <div class="rent-station-container">
    <div class="rent-station-title">
      <div>Địa chỉ</div>
    </div>
    <div class="rent-station-content">
      <div>{{ RentStation?.address }}</div>
    </div>
  </div>
  <div class="rent-station-container">
    <div class="rent-station-title">
      <div>Công ty</div>
    </div>
    <div class="rent-station-content">
      <div>{{ RentStation?.companyName }}</div>
    </div>
  </div>

  <div class="rent-station-container">
    <div class="rent-station-title">
      <div>Kinh độ</div>
    </div>
    <div class="rent-station-content">
      <div>{{ RentStation?.longitude }}</div>
    </div>
  </div>

  <div class="rent-station-container">
    <div class="rent-station-title">
      <div>Vĩ độ</div>
    </div>
    <div class="rent-station-content">
      <div>{{ RentStation?.latitude }}</div>
    </div>
  </div>
</div>
