<div class="rent-station-detail">
  <div style="margin-top: 10px"></div>
  <div class="rent-station-container">
    <div class="rent-station-title">
      <div>Tên</div>
    </div>
    <div class="rent-station-content">
      <div>{{ rentStation?.title }}</div>
    </div>
  </div>
  <div class="rent-station-container">
    <div class="rent-station-title">
      <div>Địa chỉ</div>
    </div>
    <div class="rent-station-content">
      <div>{{ rentStation?.address }}</div>
    </div>
  </div>
  <div class="rent-station-container">
    <div class="rent-station-title">
      <div>Công ty</div>
    </div>
    <div class="rent-station-content">
      <div>{{ rentStation?.partnerName }}</div>
    </div>
  </div>

  <div class="rent-station-container">
    <div class="rent-station-title">
      <div>Kinh độ</div>
    </div>
    <div class="rent-station-content">
      <div>{{ rentStation?.longitude }}</div>
    </div>
  </div>

  <div class="rent-station-container">
    <div class="rent-station-title">
      <div>Vĩ độ</div>
    </div>
    <div class="rent-station-content">
      <div>{{ rentStation?.latitude }}</div>
    </div>
  </div>
</div>
