<div class="wrap-content">
  <div class="dashboard-header">
    <div id="info">
      {{ this.coordinates }}
    </div>
  </div>
  <div class="map-content">
    <tourism-smart-transportation-map></tourism-smart-transportation-map>
  </div>
  <div class="text-center"></div>
  <div class="location-form">
    <form [formGroup]="locationForm">
      <ng-container formArrayName="locations">
        <ng-container
          *ngFor="let locaForm of locations.controls; let i = index"
        >
          <div class="mt-4 grid p-fluid" [formGroupName]="i">
            <div class="col-4">
              <input
                type="text"
                pInputText
                placeholder="Tên Trạm"
                formControlName="stationName"
              />
              <div></div>
            </div>
            <div class="col-4">
              <input
                type="text"
                pInputText
                placeholder="Kinh độ"
                formControlName="longitude"
              />
              <div></div>
            </div>
            <div class="mt-3"></div>
            <div class="col-4">
              <input
                type="text"
                pInputText
                placeholder="Vĩ độ"
                formControlName="latitude"
                (keyup.enter)="onSaveLocation()"
              />
              <div>
                <!-- <small
                *ngIf="inforsForm['name'].errors?.['required'] && isSubmit"
                class="p-error"
                >Tên không được bỏ trống</small
              > -->
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </form>
  </div>
</div>
