<div class="wrapper">
  <div class="container">
    <nav>
      <div class="link link1"><i class="fab fa-html5"></i></div>
      <div class="link link2">
        <i class="fab fa-css3"></i>
      </div>
    </nav>
    <div class="content">
      <div class="item item1" id="html">
        <i class="fab fa-html5"></i>
        <div class="line line1"></div>
        <div class="line line2"></div>
        <div class="line line3"></div>
      </div>
      <div class="item item2" id="css">
        <i class="fab fa-css3"></i>
        <div class="line line1"></div>
        <div class="line line2"></div>
        <div class="line line3"></div>
      </div>
    </div>
  </div>
</div>
