<div class="driver-detail">
  <!-- <div class="driver-avatar">
    <img src="../../../assets/image/avatar.jpg" alt="" />
  </div> -->
  <div style="margin-top: 10px"></div>
  <div class="driver-container">
    <div class="driver-title">
      <div>Họ và Tên</div>
    </div>
    <div class="driver-content">
      <div>Dương Thanh Sang</div>
    </div>
  </div>
  <div class="driver-container">
    <div class="driver-title">
      <div>Ngày sinh</div>
    </div>
    <div class="driver-content">
      <div>09/09/2000</div>
    </div>
  </div>
  <div class="driver-container">
    <div class="driver-title">
      <div>Giới tính</div>
    </div>
    <div class="driver-content">
      <div>Name</div>
    </div>
  </div>
  <div class="driver-container">
    <div class="driver-title">
      <div>Điện thoại</div>
    </div>
    <div class="driver-content">
      <div>0982354461</div>
    </div>
  </div>
  <div class="driver-container">
    <div class="driver-title">
      <div>Phương Tiện</div>
    </div>
    <div class="driver-content">
      <div>51B-273.39</div>
    </div>
  </div>
  <div class="driver-container">
    <div class="driver-title">
      <div>Công ty</div>
    </div>
    <div class="driver-content">
      <div>Vận tải Gia Nguyên</div>
    </div>
  </div>
</div>
