<div class="driver-detail">
  <!-- <div class="driver-avatar">
    <img src="../../../assets/image/avatar.jpg" alt="" />
  </div> -->
  <div style="margin-top: 10px"></div>
  <div class="driver-container">
    <div class="driver-title">
      <div>Tên Phương tiện</div>
    </div>
    <div class="driver-content">
      <div>{{ VehicleDetail?.name }}</div>
    </div>
  </div>
  <div class="driver-container">
    <div class="driver-title">
      <div>Biển số</div>
    </div>
    <div class="driver-content">
      <div>{{ VehicleDetail?.licensePlates }}</div>
    </div>
  </div>
  <div class="driver-container">
    <div class="driver-title">
      <div>Màu</div>
    </div>
    <div class="driver-content">
      <div>{{ VehicleDetail?.color }}</div>
    </div>
  </div>
  <div class="driver-container">
    <div class="driver-title">
      <div>Loại xe</div>
    </div>
    <div class="driver-content">
      <div>{{ VehicleDetail?.vehicleTypeName }}</div>
    </div>
  </div>
  <div class="driver-container">
    <div class="driver-title">
      <div>Loại dịch vụ</div>
    </div>
    <div class="driver-content">
      <div>{{ VehicleDetail?.serviceTypeName }}</div>
    </div>
  </div>
  <div class="driver-container">
    <div class="driver-title">
      <div>Công ty</div>
    </div>
    <div class="driver-content">
      <div>{{ VehicleDetail?.companyName }}</div>
    </div>
  </div>
  <div class="driver-container">
    <div class="driver-title">
      <div>Tài xế</div>
    </div>
    <div class="driver-content">
      <div>{{ VehicleDetail?.companyName }}</div>
    </div>
  </div>
</div>
