<p-scrollPanel [style]="{ width: '100%', height: '100vh' }">
  <div class="body-content">
    <div class="navigation">
      <input type="checkbox" class="navigation__checkbox" id="navi-toggle" />

      <label for="navi-toggle" class="navigation__button">
        <span class="navigation__icon">&nbsp;</span>
      </label>

      <div class="navigation__background">&nbsp;</div>

      <nav class="navigation__nav">
        <ul class="navigation__list">
          <li class="navigation__item" (click)="scrollToElement(aboutUs)">
            <a routerLink="" class="navigation__link"
              ><span>01</span>Về chúng tôi</a
            >
          </li>
          <li
            class="navigation__item"
            (click)="scrollToElement(section_features)"
          >
            <a routerLink="" class="navigation__link"
              ><span>02</span>Lợi ích của bạn</a
            >
          </li>
          <li
            class="navigation__item"
            (click)="scrollToElement(section_service)"
          >
            <a routerLink="" class="navigation__link"
              ><span>03</span>Dịch vụ nổi bật</a
            >
          </li>
          <li
            class="navigation__item"
            (click)="scrollToElement(section_customer)"
          >
            <a routerLink="" class="navigation__link"
              ><span>04</span>Khách hàng nói về chúng tôi</a
            >
          </li>
          <li class="navigation__item">
            <a routerLink="/login" class="navigation__link"
              ><span></span>Đăng nhập</a
            >
          </li>
        </ul>
      </nav>
    </div>

    <header class="header">
      <div class="header__logo-box">
        <img
          src="../../../assets/image/logo.svg"
          alt="Logo"
          class="header__logo"
        />
      </div>

      <div class="header__text-box">
        <h1 class="heading-primary">
          <span class="heading-primary--main">Hyper</span>
          <span class="heading-primary--sub"
            >Công ty kết nối vận chuyển cho khách du lịch tại
          </span>
          <span class="heading-primary--sub">Phú Quốc</span>
        </h1>

        <a
          routerLink=""
          class="btn btn--white btn--animated"
          (click)="scrollToElement(section_book)"
          >Đăng ký với chúng tôi</a
        >
      </div>
    </header>

    <main>
      <section class="section-about" #aboutUs>
        <div class="u-center-text u-margin-bottom-big">
          <h2 class="heading-secondary">Thông tin về chúng tôi</h2>
        </div>

        <div class="row">
          <div class="col-1-of-2">
            <h3 class="heading-tertiary u-margin-bottom-small">
              CÔNG TY KẾT NỐI VẬN CHUYỂN HÀNG ĐẦU
            </h3>
            <p class="paragraph">
              Là công ty được thành lập vào năm 2022, với sự phát triển công
              nghệ hiện đại và ngành du lịch phát triển một cách mạnh mẽ, vì lý
              do đó công ty được ra đời nhằm kết nối các đơn vị vận chuyển với
              khách hàng một cách dễ dàng nhất, nhằm mục đích tăng doanh thu cho
              một số doanh nghiệp vận chuyển
            </p>

            <!-- <h3 class="heading-tertiary u-margin-bottom-small">
              Những ưu đãi trực tiếp mà bạn chưa bao giờ có trước
            </h3>
            <p class="paragraph">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Asperiores nulla deserunt voluptatum nam.
            </p> -->

            <a routerLink="" class="btn-text">Learn more &rarr;</a>
          </div>
          <div class="col-1-of-2">
            <div class="composition">
              <img
                src="../../../assets/home-image/nat-1-large.jpg"
                alt="Photo 1"
                class="composition__photo composition__photo--p1"
              />
              <img
                src="../../../assets/home-image/nat-2-large.jpg"
                alt="Photo 2"
                class="composition__photo composition__photo--p2"
              />
              <img
                src="../../../assets/home-image/nat-3-large.jpg"
                alt="Photo 3"
                class="composition__photo composition__photo--p3"
              />
            </div>
          </div>
        </div>
      </section>

      <section class="section-features" #section_features>
        <!-- <div class="u-center-text u-margin-bottom-big">
          <h2 class="heading-secondary">LỢI ÍCH CỦA BẠN</h2>
        </div> -->
        <div class="row">
          <div class="col-1-of-4">
            <div class="feature-box">
              <i class="feature-box__icon icon-basic-world"></i>
              <h3 class="heading-tertiary u-margin-bottom-small">Chiết khấu</h3>
              <p class="feature-box__text">
                Phần trăm chiết khấu hấp dẫn, thấp nhất chỉ 10% trên 1 hóa đơn
              </p>
            </div>
          </div>

          <div class="col-1-of-4">
            <div class="feature-box">
              <i class="feature-box__icon icon-basic-compass"></i>
              <h3 class="heading-tertiary u-margin-bottom-small">Bảo đảm</h3>
              <p class="feature-box__text">
                Đảm bảo đối với doanh nghiệp có một lượng khách ổn định
              </p>
            </div>
          </div>

          <div class="col-1-of-4">
            <div class="feature-box">
              <i class="feature-box__icon icon-basic-map"></i>
              <h3 class="heading-tertiary u-margin-bottom-small">Kết nối</h3>
              <p class="feature-box__text">
                Kết nối với khách hàng một cách dễ dàng, thuận tiện
              </p>
            </div>
          </div>

          <div class="col-1-of-4">
            <div class="feature-box">
              <i class="feature-box__icon icon-basic-heart"></i>
              <h3 class="heading-tertiary u-margin-bottom-small">Quản lý</h3>
              <p class="feature-box__text">
                Chi phí bảo trì quản lý được miễn phí với doanh nghiệp đặc biệt
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="section-tours" id="section-tours" #section_service>
        <div class="u-center-text u-margin-bottom-big">
          <h2 class="heading-secondary">DỊCH VỤ NỔI BẬT</h2>
        </div>

        <div class="row">
          <div class="col-1-of-3">
            <div class="card">
              <div class="card__side card__side--front">
                <div class="card__picture card__picture--1">&nbsp;</div>
                <h4 class="card__heading">
                  <span class="card__heading-span card__heading-span--1">
                    Dịch vụ &nbsp;Đặt xe</span
                  >
                </h4>
                <div class="card__details">
                  <ul>
                    <li>Có tài xế</li>
                    <li>Xe đời mới</li>
                    <li>Bảo hiểm miễn phí</li>
                    <li>Chỉ 10k/1km</li>
                  </ul>
                </div>
              </div>
              <div class="card__side card__side--back card__side--back-1">
                <div class="card__cta">
                  <div class="card__price-box">
                    <p class="card__price-only">Chỉ</p>
                    <p class="card__price-value">10K</p>
                  </div>
                  <a routerLink="" class="btn btn--white">Đặt ngay</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-1-of-3">
            <div class="card">
              <div class="card__side card__side--front">
                <div class="card__picture card__picture--2">&nbsp;</div>
                <h4 class="card__heading">
                  <span class="card__heading-span card__heading-span--2"
                    >Đi xe buýt</span
                  >
                </h4>
                <div class="card__details">
                  <ul>
                    <li>Lên đến 45 người</li>
                    <li>Đi qua hết các trạm</li>
                    <li>Giá cạnh tranh</li>
                  </ul>
                </div>
              </div>
              <div class="card__side card__side--back card__side--back-2">
                <div class="card__cta">
                  <div class="card__price-box">
                    <p class="card__price-only">Chỉ</p>
                    <p class="card__price-value">20K</p>
                  </div>
                  <a routerLink="" class="btn btn--white">Đặt ngay</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-1-of-3">
            <div class="card">
              <div class="card__side card__side--front">
                <div class="card__picture card__picture--3">&nbsp;</div>
                <h4 class="card__heading">
                  <span class="card__heading-span card__heading-span--3"
                    >Dịch vụ Thuê xe</span
                  >
                </h4>
                <div class="card__details">
                  <ul>
                    <li>Đa dạng xe</li>
                    <li>Đa dạng cách thuê</li>
                    <li>Giá rẻ nhất thị trường</li>
                    <li>Xe đời mới</li>
                  </ul>
                </div>
              </div>
              <div class="card__side card__side--back card__side--back-3">
                <div class="card__cta">
                  <div class="card__price-box">
                    <p class="card__price-only">Chỉ</p>
                    <p class="card__price-value">100K</p>
                  </div>
                  <a routerLink="" class="btn btn--white">Đặt ngay</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="u-center-text u-margin-top-huge">
          <a href="#" class="btn btn--green">Discover all tours</a>
        </div> -->
      </section>

      <section class="section-stories" #section_customer>
        <div class="bg-video">
          <video class="bg-video__content" autoplay muted loop>
            <source
              src="../../../assets/home-image/video.mp4"
              type="video/mp4"
            />
            <source
              src="../../../assets/home-image/video.webm"
              type="video/webm"
            />
            Your browser is not supported!
          </video>
        </div>

        <div class="u-center-text u-margin-bottom-big">
          <h2 class="heading-secondary">KHÁCH HÀNG NÓI VỀ CHÚNG TÔI</h2>
        </div>

        <div class="row">
          <div class="story">
            <figure class="story__shape">
              <img
                src="../../../assets/home-image/nat-8.jpg"
                alt="Person on a tour"
                class="story__img"
              />
              <figcaption class="story__caption">Công Danh</figcaption>
            </figure>
            <div class="story__text">
              <h3 class="heading-tertiary u-margin-bottom-small">
                Tôi đã có một tuần tuyệt vời nhất từ ​​trước đến nay với gia
                đình của mình
              </h3>
              <p>
                Chưa bao giờ tôi có thể sử dụng dịch vụ thuê xe một cách dễ dàng
                như vậy, tôi thuê một chiếc xe và chạy quanh đảo Phú Quốc chỉ
                với 100,000VND tiền xăng
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="story">
            <figure class="story__shape">
              <img
                src="../../../assets/home-image/nat-9.jpg"
                alt="Person on a tour"
                class="story__img"
              />
              <figcaption class="story__caption">Phương Nam</figcaption>
            </figure>
            <div class="story__text">
              <h3 class="heading-tertiary u-margin-bottom-small">
                Ồ! Cuộc sống của tôi bây giờ hoàn toàn khác
              </h3>
              <p>
                Tôi có thể tìm đường đi và có một chiếc ô tô lại rước mà không
                cần phải đi bộ để bắt xe nữa, thật tuyệt vời!
              </p>
            </div>
          </div>
        </div>

        <!-- <div class="u-center-text u-margin-top-huge">
          <a href="#" class="btn-text">Read all stories &rarr;</a>
        </div> -->
      </section>

      <section class="section-book" #section_book>
        <div class="row">
          <div class="book">
            <div class="book__form">
              <form class="form">
                <div class="u-margin-bottom-medium">
                  <h2 class="heading-secondary">LIÊN HỆ VỚI CHÚNG TÔI</h2>
                </div>

                <div class="form__group">
                  <input
                    type="text"
                    class="form__input"
                    placeholder="HỌ VÀ TÊN"
                    id="name"
                    required
                  />
                  <label for="name" class="form__label">HỌ VÀ TÊN</label>
                </div>

                <div class="form__group">
                  <input
                    type="email"
                    class="form__input"
                    placeholder="ĐỊA CHỈ EMAIL"
                    id="email"
                    required
                  />
                  <label for="email" class="form__label">ĐỊA CHỈ EMAIL</label>
                </div>
                <div class="form__group">
                  <input
                    type="text"
                    class="form__input"
                    placeholder="SỐ ĐIỆN THOẠI"
                    id="phone"
                    required
                  />
                  <label for="email" class="form__label">SỐ ĐIỆN THOẠI</label>
                </div>

                <div class="form__group u-margin-bottom-medium">
                  <div class="form__radio-group">
                    <input
                      type="radio"
                      class="form__radio-input"
                      id="small"
                      name="size"
                    />
                    <label for="small" class="form__radio-label">
                      <span class="form__radio-button"></span>
                      Người dùng
                    </label>
                  </div>

                  <div class="form__radio-group">
                    <input
                      type="radio"
                      class="form__radio-input"
                      id="large"
                      name="size"
                    />
                    <label for="large" class="form__radio-label">
                      <span class="form__radio-button"></span>
                      Doanh nghiệp
                    </label>
                  </div>
                </div>
                <div class="form__group">
                  <button class="btn btn--green">Tiếp tục &rarr;</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer class="footer-home">
      <div class="footer-home__logo-box">
        <img
          src="../../../assets/image/logo.svg"
          alt="Full logo"
          class="footer-home__logo"
        />
      </div>
      <div class="row">
        <div class="col-1-of-2">
          <div class="footer-home__navigation">
            <ul class="footer-home__list">
              <li class="footer-home__item">
                <a routerLink="" class="footer-home__link">Công ty</a>
              </li>
              <li class="footer-home__item">
                <a routerLink="" class="footer-home__link">Liên hệ</a>
              </li>
              <li class="footer-home__item">
                <a routerLink="" class="footer-home__link">Tuyển dụng</a>
              </li>
              <li class="footer-home__item">
                <a routerLink="" class="footer-home__link"
                  >Chính sách bảo mật</a
                >
              </li>
              <li class="footer-home__item">
                <a routerLink="" class="footer-home__link">Điều kiện </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-1-of-2">
          <p class="footer-home__copyright">
            Xây dựng bởi
            <a routerLink="" class="footer-home__link"
              >Hyper joint stock company
            </a>
          </p>
          <p class="footer-home__copyright">
            ĐATN mã nhóm: GSU22SE32 Trường Đại học FPT
          </p>
          <p class="footer-home__copyright">Mã số đề tài: SU22SE25</p>
        </div>
      </div>
      <p style="text-align: center">
        <small> Hyper &copy; 2022.</small>
      </p>
    </footer>

    <div class="popup" id="popup">
      <div class="popup__content">
        <div class="popup__left">
          <img
            src="../../../assets/home-image/nat-8.jpg"
            alt="Tour photo"
            class="popup__img"
          />
          <img
            src="../../../assets/home-image/nat-9.jpg"
            alt="Tour photo"
            class="popup__img"
          />
        </div>
        <div class="popup__right">
          <a routerLink="" class="popup__close">&times;</a>
          <h2 class="heading-secondary u-margin-bottom-small">
            Start booking now
          </h2>
          <h3 class="heading-tertiary u-margin-bottom-small">
            Important &ndash; Please read these terms before booking
          </h3>
          <p class="popup__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed sed
            risus pretium quam. Aliquam sem et tortor consequat id. Volutpat
            odio facilisis mauris sit amet massa vitae. Mi bibendum neque
            egestas congue. Placerat orci nulla pellentesque dignissim enim sit.
            Vitae semper quis lectus nulla at volutpat diam ut venenatis.
            Malesuada pellentesque elit eget gravida cum sociis natoque
            penatibus et. Proin fermentum leo vel orci porta non pulvinar neque
            laoreet. Gravida neque convallis a cras semper. Molestie at
            elementum eu facilisis sed odio morbi quis. Faucibus vitae aliquet
            nec ullamcorper sit amet risus nullam eget. Nam libero justo laoreet
            sit. Amet massa vitae tortor condimentum lacinia quis vel eros
            donec. Sit amet facilisis magna etiam. Imperdiet sed euismod nisi
            porta.
          </p>
          <a routerLink="" class="btn btn--green">Book now</a>
        </div>
      </div>
    </div>
  </div>
</p-scrollPanel>
