<div class="route-detail">
  <div style="margin-top: 10px"></div>
  <div class="route-container">
    <div class="route-title">
      <div>Tên</div>
    </div>
    <div class="route-content">
      <div>{{ RouteDetail?.name }}</div>
    </div>
  </div>
  <div class="route-container">
    <div class="route-title">
      <div>Khoảng cách</div>
    </div>
    <div class="route-content">
      <div>{{ RouteDetail?.distance }}</div>
    </div>
  </div>
  <div class="route-container">
    <div class="route-title">
      <div>Số trạm</div>
    </div>
    <div class="route-content">
      <div>{{ RouteDetail?.totalStation }}</div>
    </div>
  </div>
  <div class="route-container">
    <div class="route-title">
      <div>Danh sách trạm</div>
    </div>
    <div class="route-content">
      <div *ngFor="let station of RouteDetail?.stationList">
        {{ station?.title }}
      </div>
    </div>
  </div>
</div>
