<div
  class="side-bar"
  [ngClass]="status ? 'open' : 'close'"
  (mouseover)="mouseEnter()"
  (mouseleave)="mouseLeave()"
>
  <div class="btn pb-8"></div>
  <div>
    <div class="{{ status ? 'header-logo' : 'header-logo-off' }}">
      <div
        class="flex justify-content-start header-logo--content"
        style="position: relative"
      >
        <div class="imageLogo">
          <img src="../../../assets/image/logo.png" />
        </div>
        <div class="logo--content--button">
          <div
            class="btn-lock"
            [ngClass]="statusLink ? 'hidden-logo' : ''"
            (click)="onToggle()"
          >
            <mat-icon class="material-icons-outlined iconLock">{{
              locked ? 'lock' : 'lock_open'
            }}</mat-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="sideBarOrta" [ngClass]="statusLink ? 'navClose' : ''">
      <ul>
        <div class="navbar-wrap">
          <li
            [class]="status ? 'nav-item' : 'nav-item-off'"
            routerLinkActive="active-link"
            #rla="routerLinkActive"
          >
            <div class="nav-link" routerLink="/partner/dashboard">
              <mat-icon
                [ngClass]="
                  rla.isActive ? 'material-icons' : 'material-icons-outlined'
                "
                >dashboard</mat-icon
              >

              <div
                class="icon-title"
                [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow'"
              >
                Bảng điều khiển
              </div>
            </div>
          </li>
        </div>
        <li
          [class]="status ? 'nav-item' : 'nav-item-off '"
          routerLinkActive="active-link"
          #driver="routerLinkActive"
        >
          <div class="nav-link" href="" routerLink="partner/driver">
            <mat-icon
              [ngClass]="
                driver.isActive ? 'material-icons' : 'material-icons-outlined'
              "
              >{{ driver.isActive ? 'person' : 'person_outlined' }}</mat-icon
            >
            <div
              class="icon-title"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow'"
            >
              Tài xế
            </div>
          </div>
        </li>
        <li
          [class]="status ? 'nav-item' : 'nav-item-off'"
          routerLinkActive="active-link"
          #vehicle="routerLinkActive"
        >
          <div class="nav-link" routerLink="partner/vehicle">
            <mat-icon
              [ngClass]="
                vehicle.isActive ? 'material-icons' : 'material-icons-outlined'
              "
              >{{
                vehicle.isActive ? 'directions_car' : 'directions_car_outlined'
              }}</mat-icon
            >

            <div
              class="icon-title"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow'"
            >
              Phương tiện
            </div>
          </div>
        </li>
        <!-- Khuyến mãi -->
        <li
          [class]="status ? 'nav-item' : 'nav-item-off'"
          routerLinkActive="active-link"
          #schedule="routerLinkActive"
        >
          <div class="nav-link" routerLink="partner/schedule">
            <mat-icon
              [ngClass]="
                schedule.isActive ? 'material-icons' : 'material-icons-outlined'
              "
              >{{
                schedule.isActive ? 'calendar_month' : 'calendar_month'
              }}</mat-icon
            >
            <div
              class="icon-title"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow'"
            >
              Lịch trình
            </div>
          </div>
        </li>
        <!-- Bản đồ -->
        <li
          [class]="status ? 'nav-item' : 'nav-item-off'"
          routerLinkActive="active-link"
          #map="routerLinkActive"
        >
          <div class="nav-link" routerLink="partner/map">
            <mat-icon
              [ngClass]="
                map.isActive ? 'material-icons' : 'material-icons-outlined'
              "
              >{{ map.isActive ? 'map' : 'map_outlined' }}</mat-icon
            >

            <div
              class="icon-title"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow'"
            >
              Bản đồ
            </div>
          </div>
        </li>

        <!-- <li
          [class]="status ? 'nav-item' : 'nav-item-off'"
          routerLinkActive="active-link"
          #standardPrice="routerLinkActive"
        >
          <div class="nav-link" routerLink="/standard-price">
            <mat-icon
              [ngClass]="
                standardPrice.isActive
                  ? 'material-icons'
                  : 'material-icons-outlined'
              "
              >{{
                standardPrice.isActive
                  ? 'price_change'
                  : 'price_change_outlined'
              }}</mat-icon
            >

            <div
              class="icon-title"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow'"
            >
              Giá cơ bản
            </div>
          </div>
        </li> -->
        <!-- <li
          [class]="status ? 'nav-item' : 'nav-item-off'"
          [ngClass]="
            (price.isActive ||
              price1.isActive ||
              price2.isActive ||
              price3.isActive ||
              price4.isActive ||
              price5.isActive) &&
            !status
              ? 'active-link'
              : ''
          "
        >
          <div class="nav-link relative" (click)="onShowMoreSetting()">
            <mat-icon
              [ngClass]="
                price.isActive ||
                price1.isActive ||
                price2.isActive ||
                price3.isActive ||
                price4.isActive ||
                price5.isActive
                  ? 'material-icons'
                  : 'material-icons-outlined'
              "
              >settings</mat-icon
            >
            <div
              class="icon-title"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow'"
            >
              Cấu hình
            </div>
            <span
              class="absolute icon-chevron"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow '"
              ><i
                [ngClass]="
                  showMoreService ? 'pi pi-chevron-up ' : 'pi pi-chevron-down'
                "
              ></i
            ></span>
          </div>
        </li>

        <ul [ngClass]="showMoreService ? '' : 'navLinkDar'">
          <li
            class="nav-item-content"
            [ngClass]="statusLink ? 'navLinkDar' : ''"
            routerLinkActive="active-link-content"
            #price3="routerLinkActive"
          >
            <div class="nav-link-content" routerLink="/setting/vehicle-type">
              <div [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow '">
                Loại xe
              </div>
            </div>
          </li>
          <li
            class="nav-item-content"
            [ngClass]="statusLink ? 'navLinkDar' : ''"
            routerLinkActive="active-link-content"
            #price4="routerLinkActive"
          >
            <div class="nav-link-content" routerLink="/setting/vehicle-class">
              <div [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow '">
                Phân khúc xe
              </div>
            </div>
          </li>
          <li
            class="nav-item-content"
            [ngClass]="statusLink ? 'navLinkDar' : ''"
            routerLinkActive="active-link-content"
            #price5="routerLinkActive"
          >
            <div
              class="nav-link-content"
              routerLink="/setting/vehicle-manufacture-year"
            >
              <div [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow '">
                Năm sản xuất xe
              </div>
            </div>
          </li>
          <li
            class="nav-item-content"
            [ngClass]="statusLink ? 'navLinkDar' : ''"
            routerLinkActive="active-link-content"
            #price="routerLinkActive"
          >
            <div class="nav-link-content" routerLink="/setting/bus-price">
              <div [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow '">
                Giá xe buýt
              </div>
            </div>
          </li>
          <li
            class="nav-item-content"
            [ngClass]="statusLink ? 'navLinkDar' : ''"
            routerLinkActive="active-link-content"
            #price1="routerLinkActive"
          >
            <div
              class="nav-link-content"
              routerLink="/setting/vehicle-booking-price"
            >
              <div [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow '">
                Giá đặt xe
              </div>
            </div>
          </li>
          <li
            class="nav-item-content"
            [ngClass]="statusLink ? 'navLinkDar' : ''"
            routerLinkActive="active-link-content"
            #price2="routerLinkActive"
          >
            <div
              class="nav-link-content"
              routerLink="/setting/vehicle-renting-price"
            >
              <div [ngClass]="statusLink ? 'navLinkDar' : 'navLinkShow '">
                Giá thuê xe
              </div>
            </div>
          </li>
        </ul> -->
      </ul>
    </div>
  </div>
  <div
    class="footer-avatar"
    [ngClass]="displayAvatar ? 'avatar-fade-up' : ''"
    (click)="onClickAvatar()"
  >
    <div class="footer-avatar-content">
      <img
        class="avatarImage"
        [ngClass]="displayAvatar ? 'outline-img' : ''"
        [src]="photoUrl"
        alt=""
      />

      <div
        class="footer-name"
        [ngClass]="statusName ? 'showName' : 'navLinkDar'"
      >
        <span>{{ user?.name | limitLength: 10 }} (Đối tác) </span>
        <i
          class="{{
            displayAvatar ? 'pi pi-chevron-down' : 'pi pi-chevron-up'
          }}"
        ></i>
      </div>
    </div>

    <div
      class="footer"
      [ngClass]="displayAvatar ? 'footer-content-block' : 'footer-content'"
    >
      <div
        class="flex content-item"
        routerLinkActive="active-link"
        routerLink="/partner/profile"
      >
        <span class="material-icons-outlined"> person </span>
        <div class="content-item-name">Tài Khoản</div>
      </div>
      <div class="flex content-item" (click)="onLogout()">
        <span class="material-icons-outlined"> power_settings_new </span>
        <div class="content-item-name">Đăng xuất</div>
      </div>
    </div>
  </div>
</div>
