$white-primary-color: #ffffff;
$primary-color: #00d795;
$primary-color-teal: #30d5c8;
$background-color-grey: rgba(0, 0, 0, 0.062);
$background-color-grey-secondary: rgba(204, 204, 204, 0.8);
$background-color-grey-thirdly: rgba(242, 242, 242, 0.5);
$background-hover-grey: rgba(0, 0, 0, 0.03);
$background-color-gradient-primary: linear-gradient(
  135deg,
  rgba(73, 211, 149, 0.3) 5%,
  rgba(78, 212, 152, 0.2) 10%,
  rgba(78, 212, 152, 0.1) 20%,
  rgba(255, 255, 255, 0) 100%
);

$red-primary: #eb4343;

$status-tag-color-active: #b0eed3;
$status-tag-text-color-active: #1aae72;
$status-tag-color-disable: #fee6e0;
