@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@mixin shadown-color-dark {
  box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
@mixin shadown-color-primary {
  box-shadow: 0 0 0 2px rgb(20, 184, 166), 0.1em 0.1em 1em rgb(20, 184, 166);
}
@mixin box-shadown-grey {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
@mixin box-shadown-grey-secondary {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

@mixin box-shadown-green {
  box-shadow: 0 3px 6px rgb(74, 214, 151);
}

@mixin fixed-scroll-view {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
@mixin custom-scrollbar {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #6d6d6d;
  }
}

@mixin size-logo-image-small {
  width: 40px;
  height: 40px;
}

@mixin font-Roboto-Light-H1 {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 96px;
  letter-spacing: -1.5px;
}
@mixin font-Roboto-Light-H2 {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 96px;
  letter-spacing: -0.5px;
}
@mixin font-Roboto-Regular-H3 {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 48px;
  letter-spacing: 0px;
}
@mixin font-Roboto-Regular-H4 {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 34px;
  letter-spacing: 0.25px;
}
@mixin font-Roboto-Regular-H5 {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0px;
}
@mixin font-Roboto-Medium-H6 {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.15px;
}
@mixin font-Roboto-Regular-Subtitle1 {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.15px;
}
@mixin font-Roboto-Medium-Subtitle2 {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.25px;
}
@mixin font-Roboto-Regular-Body1 {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
}
@mixin font-Roboto-Regular-Body2 {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.25px;
}
@mixin font-Roboto-Medium-Button {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1.25px;
}
@mixin font-Roboto-Regular-Caption {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.4px;
}
@mixin font-Roboto-Regular-Overline {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 1.5px;
}
@mixin font-Roboto-Light-Status {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.25px;
}
@mixin button-rounded-primary($width, $height, $padding, $color) {
  color: $color !important;
  width: $width !important;
  height: $height !important;
  background-color: $color !important;
  border: none;
  &:enabled:hover {
    background-color: $color !important;
    background: $color !important;
    border: none;
  }
  .p-button-label {
    padding: $padding;
    @include font-Roboto-Medium-Button;
    color: $white-primary-color !important;
  }
}
@mixin button-outlined-primary($width, $height, $padding, $color) {
  width: $width !important;
  height: $height !important;
  color: $color !important ;
  border-color: $color !important;
  @include box-shadown-grey;
  .p-button-label {
    padding: $padding;
    @include font-Roboto-Medium-Button;
    color: $color !important;
  }
  &:focus {
    box-shadow: none;
  }
}
@mixin status-unpaid {
  @include font-Roboto-Regular-Body2;
  width: 141px;
  height: 25px;
  background-color: $status-tag-color-disable;
  color: $red-primary;
  box-shadow: 0rem 0rem 2rem rgb(254, 230, 224);
  border-radius: 50px;
  text-align: center;
  padding: 2px 15px 2px 15px;
}
@mixin status-paid {
  @include font-Roboto-Regular-Body2;
  width: 121px;
  height: 25px;
  background-color: $status-tag-color-active;
  color: $status-tag-text-color-active;
  box-shadow: 0rem 0rem 2rem rgb(176, 238, 211);
  border-radius: 50px;
  text-align: center;
  padding: 2px 15px 2px 15px;
}
@mixin status-disabled {
  @include font-Roboto-Regular-Body2;
  background-color: $status-tag-color-disable;
  color: $red-primary;
  box-shadow: 0rem 0rem 2rem rgb(254, 230, 224);
  border-radius: 50px;
  text-align: center;
  padding: 2px 15px 2px 15px;
  width: 131px;
}
@mixin status-completed {
  @include font-Roboto-Regular-Body2;
  background-color: $status-tag-color-completed;
  color: $status-tag-text-color-completed;
  box-shadow: 0rem 0rem 2rem rgb(225, 224, 254);
  border-radius: 50px;
  text-align: center;
  padding: 2px 15px 2px 15px;
  width: 135px;
}
@mixin status-inactive {
  @include font-Roboto-Regular-Body2;
  background-color: $status-tag-color-disable;
  color: $red-primary;
  box-shadow: 0rem 0rem 2rem rgb(254, 230, 224);
  border-radius: 50px;
  text-align: center;
  padding: 2px 15px 2px 15px;
  width: 131px;
}
@mixin status-used {
  @include font-Roboto-Regular-Body2;
  background-color: $using-pink;
  color: #883864;
  box-shadow: 0rem 0rem 2rem #e0add9;
  border-radius: 50px;
  text-align: center;
  padding: 2px 15px 2px 15px;
  width: 131px;
}
@mixin status-active {
  @include font-Roboto-Regular-Body2;
  background-color: $status-tag-color-active;
  color: $status-tag-text-color-active;
  box-shadow: 0rem 0rem 2rem rgb(176, 238, 211);
  border-radius: 50px;
  text-align: center;
  padding: 2px 15px 2px 15px;
  width: 131px;
}
@mixin status-expried {
  @include font-Roboto-Regular-Body2;
  background-color: $status-tag-color-expired;
  color: $hard-yellow;
  box-shadow: 0rem 0rem 2rem rgb(255, 241, 202);
  border-radius: 50px;
  text-align: center;
  padding: 2px 15px 2px 15px;
  width: 131px;
}
@mixin status-unlinked {
  @include status-expried();
}
@mixin status-linked {
  @include status-active();
}
@mixin paginator-custom {
  .p-paginator {
    margin-top: 10px;
    justify-content: end;
    border-top-left-radius: none !important;
    border-top-right-radius: none !important;

    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 0em 2em rgba(0, 0, 0, 0.05);
    background-color: white;
    .p-paginator-current {
      color: $black-default;
    }
  }
  .p-paginator-first,
  .p-paginator-prev,
  .p-paginator-page,
  .p-paginator-next,
  .p-paginator-last {
    color: $black-default;
  }
  .p-dropdown {
    width: 75px;
    height: 33px;
    border-radius: 50px;
    border: 1px solid $color-grey-text-placeholder;
    .p-dropdown-trigger-icon {
      font-size: 10px;
    }
    .p-dropdown-label {
      padding-top: 5px;
    }
  }
}

@mixin custom-dropdown {
  .dropdown {
    .p-dropdown-label {
      margin-top: -8px;
    }
  }
}
