@import '../../../styles.scss';
::ng-deep {
  .station-detail {
    margin-bottom: 10px;
    .station-container {
      margin-left: 22px;
      margin-right: 22px;
      display: flex;
      .station-title {
        @include font-Roboto-Regular-Body2;
        color: $black-default;
        flex: 27%;
      }
      .station-content {
        @include font-Roboto-Regular-Body2;
        color: $color-grey-text-placeholder;
        text-align: end;
      }
    }
    .station-footer {
      padding: 12px;
      text-align: end;
      box-shadow: none;
      .p-button-outlined {
        @include button-outlined-primary(67, 32, null, $primary-color);
      }
    }
  }
}
