<div class="customer-details">
  <div class="header-customer-content">
    <div class="header-content-item">
      <div class="header-item-H5">Khách hàng</div>
      <div class="header-item">|</div>
      <div class="header-item-H6">Chi tiết khách hàng</div>
    </div>
  </div>
  <p-divider></p-divider>
  <div class="form-edit">
    <form [formGroup]="customerEditForm">
      <div class="form-edit-container">
        <div class="upload-container">
          <label for="upload" class="thumnail">
            <img [src]="imagePreview" />
            <span class="thumnail-text">Tải hình ảnh lên</span>
            <div class="icon-overplay">
              <div class="circle-icon">
                <span class="material-icons-outlined"> photo_camera </span>
              </div>
            </div>
            <div class="image-overlay"></div>
          </label>
          <input
            type="file"
            id="upload"
            accept="image/*"
            (change)="onUpload($event)"
          />
        </div>
        <div class="grid p-fluid form-content">
          <div class="col-6 customer-input-short">
            <div class="customer-text">
              Họ
              <small
                *ngIf="
              _customersEditForm['firstName'].errors?.['required']
          "
                class="p-error"
              >
                không được bỏ trống
              </small>
            </div>
            <input
              class="customer-input-text-short"
              type="text"
              pInputText
              formControlName="firstName"
            />
          </div>
          <div class="col-6 customer-input-short" style="margin-left: 15px">
            <div class="customer-text">
              Tên
              <small
                *ngIf="
              _customersEditForm['lastName'].errors?.['required']
          "
                class="p-error"
              >
                không được bỏ trống
              </small>
            </div>
            <input
              class="customer-input-text-short"
              type="text"
              pInputText
              formControlName="lastName"
            />
          </div>
          <div class="col-6 customer-input-short">
            <div class="customer-text">
              Ngày sinh
              <small
                *ngIf="_customersEditForm['dateOfBirth'].errors?.['required'] "
                class="p-error"
              >
                không được bỏ trống</small
              >
              <small
                *ngIf="
              _customersEditForm['dateOfBirth'].errors?.['under18']
            "
                class="p-error"
              >
                Tuổi phải lớn hơn 18
              </small>
            </div>
            <div class="input-calendar-custom">
              <p-calendar
                inputId="basic"
                formControlName="dateOfBirth"
                dateFormat="dd/mm/yy"
                [style]="{
                  width: '200px',
                  height: '28px'
                }"
              >
              </p-calendar>
              <span class="material-icons-outlined input-calendar-icon">
                calendar_month
              </span>
            </div>
            <div></div>
          </div>
          <div class="col-6 customer-input-short" style="margin-left: 15px">
            <div class="customer-text">Giới tính</div>
            <p-dropdown
              class="dropdown"
              [style]="{ width: '200px', height: '28px' }"
              [options]="gender"
              formControlName="selectedGender"
              optionLabel="lable"
              optionValue="id"
            ></p-dropdown>
          </div>
          <div class="col-12 customer-input-long">
            <div class="customer-text">
              Số điện thoại
              <small
                *ngIf="
              _customersEditForm['phone'].errors?.['required']
          "
                class="p-error"
              >
                không được bỏ trống
              </small>
              <!-- <small
                *ngIf="_customersEditForm['phone'].hasError('minlength')"
                class="p-error"
              >
                ít nhất 9 số
              </small>
              <small
                *ngIf="_customersEditForm['phone'].hasError('minlength')"
                class="p-error"
              >
                không vượt quá 15 số
              </small> -->
            </div>
            <input
              class="customer-input-text-long"
              type="text"
              pInputText
              formControlName="phone"
            />
          </div>
          <div class="col-12 customer-input-long">
            <div class="customer-text">
              Email
              <small
                *ngIf="
              _customersEditForm['email'].errors?.['required']
          "
                class="p-error"
              >
                không được bỏ trống
              </small>
            </div>
            <input
              class="customer-input-text-long"
              type="text"
              pInputText
              formControlName="email"
            />
          </div>
          <div class="col-12 customer-input-long">
            <div class="customer-text">
              Địa chỉ
              <small
                *ngIf="
              _customersEditForm['addressUser'].errors?.['required']
          "
                class="p-error"
              >
                không được bỏ trống
              </small>
            </div>
            <input
              class="customer-input-text-long"
              type="text"
              pInputText
              formControlName="addressUser"
            />
          </div>
        </div>
        <p-divider class="bottom-divider"></p-divider>
      </div>
    </form>
    <div class="bottom-btn-form">
      <button
        [style]="{ width: '57', height: '32px' }"
        class="p-button-outlined p-button-rounded"
        pButton
        pRipple
        type="button"
        label="Chỉnh sửa"
        (click)="onChangeEdit()"
        *ngIf="!editModeStatus"
      ></button>
      <button
        [style]="{ width: '57', height: '32px' }"
        class="p-button-outlined p-button-rounded"
        pButton
        pRipple
        type="button"
        label="Hủy"
        *ngIf="editModeStatus"
        (click)="onCancleEdit()"
      ></button>
      <button
        [style]="{ width: '57', height: '32px' }"
        class="p-button-rounded button-rounded button-background"
        pButton
        pRipple
        type="button"
        label="Lưu"
        *ngIf="editModeStatus"
        (click)="onSaveChange()"
      ></button>
    </div>
  </div>
  <div class="footer-service-customer">
    <div class="header-status">
      <div
        class="status-item"
        [ngClass]="fillterStatus === true ? 'active' : ''"
        (click)="navmenuclick(true)"
      >
        <span>Dịch vụ đang sử dụng</span>
      </div>
      <div
        class="status-item"
        [ngClass]="fillterStatus === false ? 'active' : ''"
        (click)="navmenuclick(false)"
      >
        <span>Giao dịch</span>
      </div>
    </div>
    <div class="body-table" *ngIf="fillterStatus">
      <p-table
        #dt
        [value]="cusTiersHis"
        [showCurrentPageReport]="true"
        [rows]="10"
        [rowsPerPageOptions]="[10, 25, 50]"
        [paginator]="true"
        currentPageReportTemplate="Đang xem {first} đến {last} của {totalRecords} mục"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Loại dịch vụ</th>
            <th>Thời gian bắt đầu</th>
            <th>Thời gian kết thúc</th>
            <th>Trạng thái</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-tier>
          <tr>
            <td>
              {{ tier.dateOfBirth | date: 'dd/MM/yyyy' }}
            </td>
            <td>{{ tier.createdDate | date: 'dd/MM/yyyy' }}</td>
            <td>{{ tier.modifiedDate | date: 'dd/MM/yyyy' }}</td>
            <!-- <td>
              <div [class]="status[partner.status].class">
                {{ status[partner.status].lable }}
              </div>
            </td> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">Không có nội dung nào để hiển thị.</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft"> </ng-template>
      </p-table>
    </div>
    <div class="body-table" *ngIf="!fillterStatus">
      <p-table
        #td
        [value]="transactionHis"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        [paginator]="true"
        currentPageReportTemplate="Đang xem {first} đến {last} của {totalRecords} mục"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Ngày thực hiện giao dịch</th>
            <th>Tổng giá</th>
            <th>Trạng thái</th>
            <th>Hành động</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-transaction let-i="rowIndex">
          <tr>
            <td>{{ transaction?.createdDate | date: 'dd/MM/yyyy' }}</td>
            <td>
              {{
                transaction?.totalPrice
                  | currency: transaction?.totalPrice:'':'.0-0'
              }}
              VND
            </td>
            <td>{{ transaction?.status }}</td>
            <td class="more-vert" style="text-align: center">
              <!-- <span
                class="material-icons icon-more-vert"
                (click)="actionDetails(i)"
              >
                more_vert
              </span>
              <div
                class="more-vert-details"
                [ngStyle]="{ display: more_vertId === i ? 'block' : 'none' }"
              >
                <div class="more-vert-details-content">
                  <div>Chi tiết giao dịch</div>
                  <div>Thanh Toán</div>
                </div>
              </div> -->
              <tourism-smart-transportation-dots-menu
                [orderId]="transaction?.id"
                (GetDetails)="onGetDetails($event)"
              ></tourism-smart-transportation-dots-menu>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">Không có nội dung nào để hiển thị.</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft"> </ng-template>
      </p-table>
    </div>
  </div>
</div>
<p-toast position="top-right"></p-toast>
