<div class="customer-details">
  <div class="header-customer-content">
    <div class="header-content-item">
      <div class="header-item-H5">Khách hàng</div>
      <div class="header-item">|</div>
      <div class="header-item-H6">Chi tiết khách hàng</div>
    </div>
  </div>
  <p-divider></p-divider>
  <div class="form-edit">
    <form [formGroup]="customerEditForm">
      <div class="form-edit-container">
        <div class="upload-container">
          <label for="upload" class="thumnail">
            <img [src]="imagePreview" />
            <span class="thumnail-text">Tải hình ảnh lên</span>
            <div class="icon-overplay">
              <div class="circle-icon">
                <span class="material-icons-outlined"> photo_camera </span>
              </div>
            </div>
            <div class="image-overlay"></div>
          </label>
          <input
            type="file"
            id="upload"
            accept="image/*"
            (change)="onUpload($event)"
          />
          <div
            [class]="status[statusBiding!].class"
            style="margin-top: 150px; margin-left: 33px"
          >
            {{ status[statusBiding!].lable }}
          </div>
        </div>

        <div class="grid p-fluid form-content">
          <div class="col-6">
            <div class="customer-title">Thông tin khách hàng</div>
            <div class="grid">
              <div class="col-6 customer-input-short">
                <div class="customer-text">
                  Họ
                  <small
                    *ngIf="
                  _customersEditForm['firstName'].errors?.['required']
              "
                    class="p-error"
                  >
                    không được bỏ trống
                  </small>
                </div>
                <input
                  class="customer-input-text-short"
                  type="text"
                  pInputText
                  formControlName="firstName"
                />
              </div>
              <div class="col-6 customer-input-short">
                <div class="customer-text">
                  Tên
                  <small
                    *ngIf="
                  _customersEditForm['lastName'].errors?.['required']
              "
                    class="p-error"
                  >
                    không được bỏ trống
                  </small>
                </div>
                <input
                  class="customer-input-text-short"
                  type="text"
                  pInputText
                  formControlName="lastName"
                />
              </div>
              <div class="col-6 customer-input-short">
                <div class="customer-text">
                  Ngày sinh
                  <small
                    *ngIf="_customersEditForm['dateOfBirth'].errors?.['required'] "
                    class="p-error"
                  >
                    không được bỏ trống</small
                  >
                  <small
                    *ngIf="
                  _customersEditForm['dateOfBirth'].errors?.['under18']
                "
                    class="p-error"
                  >
                    Tuổi phải lớn hơn 18
                  </small>
                </div>
                <div class="input-calendar-custom">
                  <p-calendar
                    inputId="basic"
                    formControlName="dateOfBirth"
                    dateFormat="dd/mm/yy"
                    [style]="{
                      width: '200px',
                      height: '28px'
                    }"
                  >
                  </p-calendar>
                  <span class="material-icons-outlined input-calendar-icon">
                    calendar_month
                  </span>
                </div>
                <div></div>
              </div>
              <div class="col-6 customer-input-short">
                <div class="customer-text">Giới tính</div>
                <p-dropdown
                  class="dropdown"
                  [style]="{ height: '28px' }"
                  [options]="gender"
                  formControlName="selectedGender"
                  optionLabel="lable"
                  optionValue="id"
                ></p-dropdown>
              </div>
              <div class="col-12 customer-input-long">
                <div class="customer-text">
                  Số điện thoại
                  <small
                    *ngIf="
                  _customersEditForm['phone'].errors?.['required']
              "
                    class="p-error"
                  >
                    không được bỏ trống
                  </small>
                  <small
                    *ngIf="_customersEditForm['phone'].errors?.['pattern']"
                    class="p-error"
                    >sai định dạng (từ 0-9 và 10 số)</small
                  >
                  <!-- <small
                    *ngIf="_customersEditForm['phone'].hasError('minlength')"
                    class="p-error"
                  >
                    ít nhất 9 số
                  </small>
                  <small
                    *ngIf="_customersEditForm['phone'].hasError('minlength')"
                    class="p-error"
                  >
                    không vượt quá 15 số
                  </small> -->
                </div>
                <input
                  class="customer-input-text-long"
                  type="text"
                  pInputText
                  formControlName="phone"
                />
              </div>
              <div class="col-12 customer-input-long">
                <div class="customer-text">
                  Email
                  <small
                    *ngIf="
                  _customersEditForm['email'].errors?.['required']
              "
                    class="p-error"
                  >
                    không được bỏ trống
                  </small>
                </div>
                <input
                  class="customer-input-text-long"
                  type="text"
                  pInputText
                  formControlName="email"
                />
              </div>
              <div class="col-12 customer-input-long">
                <div class="customer-text">
                  Địa chỉ
                  <small
                    *ngIf="
                  _customersEditForm['addressUser'].errors?.['required']
              "
                    class="p-error"
                  >
                    không được bỏ trống
                  </small>
                </div>
                <input
                  class="customer-input-text-long"
                  type="text"
                  pInputText
                  formControlName="addressUser"
                />
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="customer-title">Thông tin thẻ</div>
            <div class="grid">
              <div class="col-12 customer-input-long" style="margin-top: 14px">
                <div class="customer-text">Mã thẻ</div>
                <input
                  class="customer-input-text-long"
                  type="text"
                  pInputText
                  formControlName="cardUid"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="bottom-btn-form">
      <button
        [style]="{ width: '57', height: '32px' }"
        class="p-button-outlined p-button-rounded"
        pButton
        pRipple
        type="button"
        label="Chỉnh sửa"
        (click)="onChangeEdit()"
        *ngIf="!editModeStatus"
      ></button>
      <button
        [style]="{ width: '57', height: '32px' }"
        class="p-button-outlined p-button-rounded"
        pButton
        pRipple
        type="button"
        label="Hủy"
        *ngIf="editModeStatus"
        (click)="onCancleEdit()"
      ></button>
      <button
        [style]="{ width: '57', height: '32px' }"
        class="p-button-rounded button-rounded button-background"
        pButton
        pRipple
        type="button"
        label="Lưu"
        *ngIf="editModeStatus"
        (click)="onSaveChange()"
      ></button>
    </div>
  </div>
  <div class="footer-service-customer">
    <div class="header-status">
      <div
        class="status-item"
        [ngClass]="fillterStatus === true ? 'active' : ''"
        (click)="navmenuclick(true)"
      >
        <span>Dịch vụ đang sử dụng</span>
      </div>
      <div
        class="status-item"
        [ngClass]="fillterStatus === false ? 'active' : ''"
        (click)="navmenuclick(false)"
      >
        <span>Giao dịch</span>
      </div>
    </div>
    <div class="body-table" *ngIf="fillterStatus">
      <p-table
        #dt
        [value]="packageHistory"
        [showCurrentPageReport]="true"
        [rows]="2"
        [rowsPerPageOptions]="[2, 5, 10]"
        [paginator]="packageHistory.length > 0 ? true : false"
        currentPageReportTemplate="Đang xem {first} đến {last} của {totalRecords} mục"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Loại dịch vụ</th>
            <th>Thời gian bắt đầu</th>
            <th>Thời gian kết thúc</th>
            <th>Trạng thái</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-tier>
          <tr>
            <td>
              {{ tier.packageName }}
            </td>
            <td>{{ tier.timeStart | date: 'dd/MM/yyyy, h:mm a' }}</td>
            <td>{{ tier.timeEnd | date: 'dd/MM/yyyy, h:mm a' }}</td>
            <td>
              <div [class]="tierStatus[tier.status].class">
                {{ tierStatus[tier.status].lable }}
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">Không có nội dung nào để hiển thị.</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft"> </ng-template>
      </p-table>
    </div>
    <div class="body-table" *ngIf="!fillterStatus">
      <p-table
        #td
        [value]="transactionHis"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        [paginator]="transactionHis.length > 0 ? true : false"
        currentPageReportTemplate="Đang xem {first} đến {last} của {totalRecords} mục"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Ngày thực hiện giao dịch</th>
            <th>Tổng giá</th>
            <th>Trạng thái</th>
            <th style="text-align: center">Hành động</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-transaction let-i="rowIndex">
          <tr>
            <td>{{ transaction?.createdDate | date: 'dd/MM/yyyy' }}</td>
            <td>
              {{
                transaction?.totalPrice
                  | currency: transaction?.totalPrice:'':'.0-0'
              }}
              VND
            </td>
            <td>
              <div [class]="transactionStatus[transaction?.status].class">
                {{ transactionStatus[transaction?.status].lable }}
              </div>
            </td>
            <td class="more-vert" style="text-align: center">
              <tourism-smart-transportation-dots-menu
                [orderId]="transaction?.id"
                (GetOrderDetails)="onGetOrderDetails($event)"
                (GetPaymentDetails)="onGetPaymentDetails($event)"
              ></tourism-smart-transportation-dots-menu>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">Không có nội dung nào để hiển thị.</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft"> </ng-template>
      </p-table>
    </div>
  </div>
</div>
<!-- dialog -->
<p-dialog
  [header]="paymentDialogStatus ? 'Thanh Toán' : 'Chi tiết đơn hàng'"
  [(visible)]="displayDialog"
  [blockScroll]="false"
  [resizable]="false"
  [modal]="true"
>
  <div class="table-dialog table-order-details">
    <p-table
      #td
      *ngIf="!paymentDialogStatus"
      [value]="orderDetails"
      style="border-bottom: 9px"
    >
      <!-- [rows]="2"
    [rowsPerPageOptions]="[2, 5]"
    [showCurrentPageReport]="true"
    [paginator]="orderDetails.length > 0 ? true : false"
    currentPageReportTemplate="Đang xem {first} đến {last} của {totalRecords} mục" -->
      <ng-template pTemplate="header">
        <tr>
          <th>Nội dung</th>
          <th>Đơn giá</th>
          <th>Số lượng</th>
          <th>Thành Tiền</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-oderDetail let-i="rowIndex">
        <tr>
          <td>{{ oderDetail.content }}</td>
          <td>
            {{ oderDetail.price | currency: oderDetail.price:'':'.0-0' }} VND
          </td>
          <td>{{ oderDetail.quantity }}</td>
          <td>
            {{ oderDetail.totalPrice | currency: oderDetail.price:'':'.0-0' }}
            VND
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8">Không có nội dung nào để hiển thị.</td>
        </tr>
      </ng-template>
    </p-table>

    <!-- table payment -->

    <!-- <p-treeTable
      #tb
      [value]="payments"
      *ngIf="paymentDialogStatus"
      [rows]="5"
      [rowsPerPageOptions]="[2, 5]"
      [showCurrentPageReport]="true"
      [paginator]="payments.length > 0 ? true : false"
      currentPageReportTemplate="Đang xem {first} đến {last} của {totalRecords} mục"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Nội dung</th>
          <th>Số tiền</th>
          <th>Ngày tạo</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
        <tr>
          <td>
            <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
            {{ rowData.content }}
          </td>
          <td>
            {{ rowData.amount | currency: rowData?.amount:'':'.0-0' }} VND
          </td>
          <td>{{ rowData.createdDate | date: 'dd/MM/yyyy' }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8">Không có nội dung nào để hiển thị.</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft"> </ng-template>
    </p-treeTable>
  </div> -->
    <p-table
      #tb
      [value]="payments"
      *ngIf="paymentDialogStatus"
      [rows]="5"
      [rowsPerPageOptions]="[2, 5]"
      [showCurrentPageReport]="true"
      [paginator]="payments.length > 0 ? true : false"
      currentPageReportTemplate="Đang xem {first} đến {last} của {totalRecords} mục"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Nội dung</th>
          <th>Số tiền</th>
          <th>Ngày tạo</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-payment>
        <tr>
          <td>
            {{ payment.content }}
          </td>
          <td>
            {{ payment.amount | currency: payment?.amount:'':'.0-0' }} VND
          </td>
          <td>{{ payment.createdDate | date: 'dd/MM/yyyy' }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8">Không có nội dung nào để hiển thị.</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft"> </ng-template>
    </p-table>
  </div>
</p-dialog>
<tourism-smart-transportation-loading-progress
  *ngIf="loading"
></tourism-smart-transportation-loading-progress>
<!-- end dialog -->
<p-toast position="top-right"></p-toast>
