<div class="header-search-route">
  <span class="p-input-icon-left">
    <i class="material-icons-outlined"> search </i>
    <input
      [style]="{ width: '276px', height: '32px' }"
      type="text"
      pInputText
      placeholder="Tìm kiếm danh sách tuyến"
      (keydown)="onChangeFillterMapRoute($event)"
    />
  </span>
</div>

<div class="body-route-content">
  <p-scrollPanel
    [style]="{ width: '100%', height: '50vh' }"
    styleClass="custom"
  >
    <div
      *ngFor="let route of routes"
      class="body-card"
      (click)="showDetail(route?.id)"
    >
      <div class="card-header">
        <div>{{ route?.name }}</div>
      </div>
      <div class="card-body">
        <div>{{ route.distance! / 1000 }} Km</div>
        <div>{{ route?.totalStation }} Trạm</div>
      </div>
    </div></p-scrollPanel
  >

  <!--  -->
</div>
