<div class="header-search">
  <span class="p-input-icon-left">
    <i class="material-icons-outlined"> search </i>
    <input
      [style]="{ width: '276px', height: '32px' }"
      type="text"
      pInputText
      placeholder="Tìm kiếm danh sách tuyến"
      (keydown)="onChangeFillterMapRoute($event)"
    />
  </span>
</div>

<div class="body-route-content">
  <div class="body-card">
    <div class="card-header">
      <div>Tuyến số 2</div>
    </div>
    <div class="card-body">
      <div>5,7 Km</div>
      <div>1 Trạm</div>
    </div>
  </div>
  <!--  -->
</div>
