@import '../../../../styles.scss';
::ng-deep {
  .report-page {
    .title {
      font-size: 40px;
      letter-spacing: 2px;
      text-align: center;
      font-weight: bold;
      margin: 20px;
      color: $primary-color;
    }
    .title-chart {
      margin-top: 40px;
      display: flex;
      align-items: center;
    }
    .header-card {
      margin: 30px;
      .p-card {
        margin: auto;
        width: 90%;
        background-color: #00cd7f;
        border-radius: 20px;
        color: white;
        box-shadow: 0 3px 6px rgb(74, 214, 151);
      }
      .p-card-content {
        text-align: center;
      }
      .number-card {
        font-size: 40px;
        font-weight: bold;
      }
    }
    .body-chart {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 20px;
    }
  }
}
