<div class="report-page">
  <div class="title" style="height: 10px; margin-bottom: 20px"></div>
  <div class="grid header-card">
    <div class="col-3">
      <p-card [style]="{ height: '130px' }">
        <div>Doanh thu</div>
        <div class="number-card">
          {{
            statictis?.order > 1000000
              ? statictis?.order / 1000000
              : (statictis?.order | currency: 'VND')
          }}
          <small *ngIf="statictis?.order > 1000000" style="font-size: 50%"
            >Triệu VND</small
          >
        </div>
      </p-card>
    </div>
    <div class="col-3">
      <p-card [style]="{ height: '130px' }">
        <div>Số lượng tài xế</div>
        <div class="number-card">{{ statictis?.driver }}</div>
      </p-card>
    </div>
    <div class="col-3">
      <p-card [style]="{ height: '130px' }">
        <div>Số lượng xe</div>
        <div class="number-card">{{ statictis?.vehicle }}</div>
      </p-card>
    </div>
    <div class="col-3">
      <p-card [style]="{ height: '130px' }">
        <div>Số lượng chuyến xe buýt</div>
        <div class="number-card">{{ statictis?.trip }}</div>
      </p-card>
    </div>
  </div>
  <div class="title-chart">
    <div [style]="{ width: '65%' }" style="text-align: center">
      Biểu đồ thống kê danh thu từng tháng
    </div>
    <div [style]="{ width: '35%' }" style="text-align: center">
      Biểu đồ thống kê các loại xe thuộc từng dịch vụ
    </div>
  </div>
  <div class="body-chart">
    <p-chart
      type="bar"
      [data]="barChart"
      [options]="barChartOption"
      [style]="{ width: '65%' }"
    ></p-chart>
    <p-chart
      type="doughnut"
      [data]="pieChartData"
      [options]="chartOptions"
      [style]="{ width: '30%' }"
    ></p-chart>
  </div>
</div>
