<div class="header-partners">
  <div class="header-partners-content">
    <div class="header-item"><p>Tài khoản đối tác</p></div>
    <div class="header-item">
      <button
        pButton
        pRipple
        type="button"
        label="Xuất excel"
        class="p-button-outlined p-button-rounded"
      ></button>
    </div>
    <div class="header-item">
      <button
        pButton
        pRipple
        type="button"
        label="Tạo mới"
        class="p-button-rounded button-background"
      ></button>
    </div>
    <div class="header-item header-search">
      <span class="p-input-icon-left">
        <i class="material-icons-outlined"> search </i>
        <input type="text" pInputText placeholder="Tìm kiếm theo tên, mã,…" />
      </span>
    </div>
  </div>
  <div class="header-status">
    <div
      class="status-item"
      [ngClass]="selected === '1' ? 'active' : ''"
      (click)="navmenuclick('1')"
    >
      <span>Tất cả</span>
    </div>
    <div
      class="status-item"
      [ngClass]="selected === '2' ? 'active' : ''"
      (click)="navmenuclick('2')"
    >
      <span>Kích Hoạt</span>
    </div>
    <div
      class="status-item"
      [ngClass]="selected === '3' ? 'active' : ''"
      (click)="navmenuclick('3')"
    >
      <span>Vô hiệu hóa</span>
    </div>
    <div class="status-item-right">
      <span class="status-item-right-title">Hiển thị bộ lọc</span>
      <i
        class="material-icons-outlined"
        (click)="onToggle()"
        [@openCloseIcon]="isOpenIconFillter ? 'openIcon' : 'closeIcon'"
      >
        filter_list
      </i>
    </div>
  </div>
  <div class="mt-5"></div>
  <div class="body-table">
    <p-table
      [value]="partners"
      responsiveLayout="scroll"
      scrollDirection="both"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Tên</th>
          <th>Tài khoản</th>
          <th>Địa chỉ</th>
          <th>Hình ảnh</th>
          <th>Trạng thái</th>
          <th><span class="material-icons"> more_horiz </span></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-partner let-i="rowIndex">
        <tr>
          <td>{{ partner.name }}</td>
          <td>{{ partner.userName }}</td>
          <td>{{ partner.address }}</td>
          <td>
            <img
              style="width: 50px; height: 50px; border-radius: 50%"
              [src]="
                'https://uni03.blob.core.windows.net/company/' +
                partner.photoUrl
              "
            />
          </td>
          <td>{{ partner.status }}</td>
          <td (click)="showDialog(partner.id)">
            <span class="material-icons-outlined"> edit </span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<p-dialog
  header="Chỉnh sửa tài khoản đối tác"
  [(visible)]="displayDialog"
  [style]="{ width: '40vw' }"
  [contentStyle]="{
    'overflow-y': 'auto',
    'overflow-x': 'hidden',
    'max-height': '50vh',
    'min-height': '25vh'
  }"
  [blockScroll]="true"
  [resizable]="true"
  [modal]="true"
>
  <ng-template pTemplate="content">
    <div class="infor-form">
      <form [formGroup]="inforForm">
        <div class="mt-4 grid p-fluid">
          <div class="col-7">
            <div class="grid">
              <div class="col-12">
                <input
                  type="text"
                  pInputText
                  placeholder="Tài khoản"
                  formControlName="userName"
                />
                <div></div>
              </div>
              <div class="mt-3"></div>
              <div class="col-12">
                <input
                  type="text"
                  pInputText
                  placeholder="Tên"
                  formControlName="name"
                  (keyup.enter)="onSaveInfor()"
                />
                <div>
                  <small
                    *ngIf="inforsForm['name'].errors?.['required'] && isSubmit"
                    class="p-error"
                    >Tên không được bỏ trống</small
                  >
                </div>
              </div>
              <div class="mt-3"></div>
              <div class="col-12">
                <p-dropdown
                  [options]="status"
                  formControlName="selectedStatus"
                  optionLabel="lable"
                  optionValue="id"
                ></p-dropdown>
              </div>
              <div class="mt-3"></div>
              <div class="col-12">
                <input
                  type="text"
                  pInputText
                  placeholder="Địa chỉ"
                  formControlName="address"
                  (keyup.enter)="onSaveInfor()"
                />
                <div>
                  <small
                    *ngIf="inforsForm['address'].invalid && isSubmit"
                    class="p-error"
                    >Địa chỉ không được trống</small
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-5">
            <div class="col-12">
              <div class="upload-container">
                <label for="upload" class="thumnail">
                  <img [src]="imagePreview" alt="image avatar" />
                  <div class="image-overlay">
                    <div class="circle-icon">
                      <span class="material-icons-outlined"> file_upload </span>
                    </div>
                  </div>
                </label>
                <input
                  type="file"
                  id="upload"
                  accept="image/*"
                  (change)="onUpload($event)"
                />
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <p-button
      (click)="displayDialog = false"
      label="Hủy"
      styleClass="p-button-text"
    ></p-button>
    <p-button
      (click)="onSaveInfor()"
      label="Đồng ý"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>
