@import '../../../../../styles.scss';

.map-content {
  margin: auto;
  width: 70%;
  height: 50vh;
  border: 3px solid green;
  border-radius: 15px;
  padding: 10px;
}
.dashboard-header {
  height: 10vh;
}
.location-form {
  padding: 0 25rem;
}
#info {
  margin: 0px auto;
  word-wrap: anywhere;
  white-space: pre-wrap;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  color: #222;
  background: #fff;
}
