<tourism-smart-transportation-loading-progress
  *ngIf="loading"
></tourism-smart-transportation-loading-progress>
<div class="header-bus-price-service">
  <div class="header-bus-price-service-content">
    <div class="header-content-item">
      <div class="header-item-H5"><div>Giá xe buýt</div></div>
      <div class="header-item">
        <!-- <button
          pButton
          pRipple
          type="button"
          label="Xuất excel"
          class="p-button-outlined p-button-rounded"
        ></button> -->
        <!-- <button
          pButton
          pRipple
          type="button"
          label="Tạo mới"
          (click)="createBusPrice()"
          class="p-button-rounded button-background"
        ></button> -->
        <button
          pButton
          pRipple
          type="button"
          label="Tạo giá"
          (click)="createPriceDefault()"
          class="p-button-rounded button-background"
        ></button>
      </div>
    </div>
    <div class="header-search">
      <span class="p-input-icon-left">
        <i class="material-icons-outlined"> search </i>
        <input
          type="text"
          pInputText
          placeholder="Tìm kiếm theo tên, mã,…"
          (keydown)="onChangeFillterByName($event)"
        />
      </span>
    </div>
  </div>
  <tourism-smart-transportation-header-status
    [menuValue]="menuValue"
    (GetValueMenu)="onGetValueMenu($event)"
  ></tourism-smart-transportation-header-status>
  <div class="mt-5"></div>
  <div class="body-table">
    <p-table
      #dt
      [value]="busPrices"
      responsiveLayout="scroll"
      scrollDirection="both"
      [rows]="10"
      [rowsPerPageOptions]="[10, 25, 50]"
      [paginator]="busPrices.length > 0 ? true : false"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Đang xem {first} đến {last} trong tổng {totalRecords} mục"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Khoảng cách bắt đầu (Km)</th>
          <th>Khoảng cách kết thúc (Km)</th>
          <th pSortableColumn="price">
            <div>
              Giá
              <p-sortIcon field="price"></p-sortIcon>
            </div>
          </th>
          <th>Trạng thái</th>
          <th style="text-align: center">Hành động</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-busPrice let-i="rowIndex">
        <tr>
          <td>
            {{ busPrice.minDistance / 1000 }}
          </td>
          <td>
            {{ busPrice?.maxDistance / 1000 }}
          </td>
          <td>
            {{ busPrice?.price | currency: busPrice?.price:'':'.0-0' }} VND
          </td>

          <td>
            <div [class]="busPriceStatus[busPrice.status].class">
              {{ busPriceStatus[busPrice.status].lable }}
            </div>
          </td>
          <td style="text-align: center">
            <span
              class="material-icons-outlined enable"
              style="margin-right: 10px"
              (click)="onDeleteBusPrice(busPrice.basePriceOfBusServiceId)"
              *ngIf="busPrice.status !== 0"
            >
              delete
            </span>
            <span
              class="material-icons-outlined disable"
              style="margin-right: 10px"
              *ngIf="busPrice.status === 0"
            >
              delete
            </span>
            <span
              class="material-icons-outlined iconEdit"
              (click)="updateBusPrice(busPrice.basePriceOfBusServiceId)"
            >
              edit
            </span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8">Không có nội dung nào để hiển thị.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-confirmDialog #cd [style]="{ width: '450px', height: '101px' }">
  <ng-template pTemplate="header">
    <div class="confirm-dialog-subtitle">
      Bạn có chắc chắn muốn khóa giá này?
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      [style]="{ width: '57', height: '32px' }"
      class="p-button-outlined p-button-rounded"
      pButton
      pRipple
      type="button"
      label="Đóng"
      (click)="cd.reject()"
    ></button>
    <button
      [style]="{ width: '57', height: '32px' }"
      class="p-button-rounded button-rounded"
      pButton
      pRipple
      type="button"
      label="Xóa"
      (click)="cd.accept()"
    ></button>
  </ng-template>
</p-confirmDialog>
<!-- dialog -->
<p-dialog
  [header]="editMode ? 'Chỉnh sửa giá xe buýt' : 'Tạo mới giá xe buýt'"
  [(visible)]="displayDialog"
  [style]="{ width: '464px', height: '470px' }"
  [contentStyle]="{
    'overflow-y': 'auto',
    'overflow-x': 'hidden',
    'max-height': '50vh',
    'min-height': '30vh'
  }"
  [blockScroll]="true"
  [resizable]="true"
  [modal]="true"
  [closable]="false"
>
  <div class="divider"></div>
  <div class="header-close-icon" (click)="cancelDialog()">
    <span class="material-icons"> close </span>
  </div>
  <form [formGroup]="busPriceForm" class="bus-price-form">
    <div class="mt-4 grid p-fluid">
      <div class="col-12">
        <div class="bus-price-text">Chế độ</div>
        <p-dropdown
          class="dropdown"
          [style]="{ width: '420px', height: '28px' }"
          optionLabel="lable"
          [options]="mode"
          optionValue="name"
          formControlName="mode"
          (onChange)="onChangeMode()"
        ></p-dropdown>
      </div>
      <div class="col-12">
        <div class="bus-price-text">
          Tuyến đường
          <small
            class="p-error"
            *ngIf="(_busPriceForms['minRouteDistance'].errors?.['required'] || _busPriceForms['maxRouteDistance'].errors?.['required']) && isSubmit"
          >
            Không được trống</small
          >
        </div>

        <div class="grid">
          <div class="col-6">
            <div class="input-custom">
              <p-inputNumber
                [style]="{
                  width: '202px',
                  height: '28px'
                }"
                formControlName="minRouteDistance"
                (keyup.enter)="onSaveBusPrice()"
              ></p-inputNumber>
              <span class="input-icon">Km</span>
            </div>
          </div>
          <div class="col-6">
            <div class="input-custom">
              <p-inputNumber
                [style]="{
                  width: '202px',
                  height: '28px'
                }"
                formControlName="maxRouteDistance"
                (keyup.enter)="onSaveBusPrice()"
              ></p-inputNumber>
              <span class="input-icon">Km</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12" *ngIf="_busPriceForms['mode'].value === 'distance'">
        <div class="bus-price-text">
          Khoảng cách
          <small
            class="p-error"
            *ngIf="(_busPriceForms['minDistance'].errors?.['required'] || _busPriceForms['maxDistance'].errors?.['required']) && isSubmit"
            >Không được trống</small
          >
        </div>

        <div class="grid">
          <div class="col-6">
            <div class="input-custom">
              <p-inputNumber
                [style]="{
                  width: '202px',
                  height: '28px'
                }"
                formControlName="minDistance"
                (keyup.enter)="onSaveBusPrice()"
              ></p-inputNumber>
              <span class="input-icon">Km</span>
            </div>
          </div>
          <div class="col-6">
            <div class="input-custom">
              <p-inputNumber
                [style]="{
                  width: '202px',
                  height: '28px'
                }"
                formControlName="maxDistance"
                (keyup.enter)="onSaveBusPrice()"
              ></p-inputNumber>
              <span class="input-icon">Km</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12" *ngIf="_busPriceForms['mode'].value === 'station'">
        <div class="bus-price-text">
          Số trạm

          <small
            class="p-error"
            *ngIf="(_busPriceForms['minStation'].errors?.['required'] || _busPriceForms['maxStation'].errors?.['required']) && isSubmit"
            >Không được trống</small
          >
        </div>

        <div class="grid">
          <div class="col-6">
            <p-inputNumber
              [style]="{
                width: '202px',
                height: '28px'
              }"
              formControlName="minStation"
              (keyup.enter)="onSaveBusPrice()"
            ></p-inputNumber>
          </div>
          <div class="col-6">
            <p-inputNumber
              [style]="{
                width: '202px',
                height: '28px'
              }"
              formControlName="maxStation"
              (keyup.enter)="onSaveBusPrice()"
            ></p-inputNumber>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="bus-price-text">
          Giá
          <small
            class="p-error"
            *ngIf="(_busPriceForms['price'].errors?.['required'])&&isSubmit"
            >Không được trống</small
          >
        </div>

        <div class="input-custom">
          <p-inputNumber
            [style]="{ width: '420px', height: '28px' }"
            (keyup.enter)="onSaveBusPrice()"
            formControlName="price"
          ></p-inputNumber>
          <span class="input-icon">VND</span>
        </div>

        <div></div>
      </div>
    </div>
  </form>
  <div class="divider" style="margin-top: 15px"></div>
  <ng-template pTemplate="footer">
    <button
      [style]="{ width: '57', height: '32px' }"
      class="p-button-outlined p-button-rounded"
      pButton
      pRipple
      type="button"
      label="Hủy"
      (click)="cancelDialog()"
    ></button>
    <button
      [style]="{ width: '57', height: '32px' }"
      class="p-button-rounded button-rounded"
      pButton
      pRipple
      type="button"
      label="Lưu"
      (click)="onSaveBusPrice()"
    ></button>
  </ng-template>
</p-dialog>
<!-- endDialog -->
<p-dialog
  [(visible)]="displaySetPriceDefault"
  header="Tạo giá khoảng cách tuyến"
  [style]="{ width: '464px', height: '180px' }"
  [contentStyle]="{
    'overflow-y': 'hidden',
    'overflow-x': 'hidden',
    'max-height': '50vh',
    'min-height': '20vh'
  }"
  [blockScroll]="true"
  [resizable]="true"
  [modal]="true"
  [closable]="false"
>
  <div class="header-close-icon" (click)="cancelDialog()">
    <span class="material-icons"> close </span>
  </div>
  <form [formGroup]="priceDefaultForm" class="bus-price-form">
    <div class="mt-4 grid p-fluid">
      <div class="col-12">
        <div class="bus-price-text">
          Tuyến đường
          <small
            class="p-error"
            *ngIf="(_priceDefaultForm['minDistance'].errors?.['required'] || _priceDefaultForm['maxDistance'].errors?.['required']) && isSubmit"
          >
            Không được trống</small
          >
          <small
            class="p-error"
            *ngIf="_priceDefaultForm['maxDistance'].errors?.['mustMoreThan']"
          >
            giá trị khoảng cách không được nhỏ hơn khoảng cách ban đầu</small
          >
          <small
            class="p-error"
            *ngIf="(_priceDefaultForm['minDistance'].errors?.['min'] || _priceDefaultForm['maxDistance'].errors?.['min']) && isSubmit"
          >
            Không được bé hơn 0</small
          >
        </div>
        <div class="grid">
          <div class="col-6">
            <div class="input-custom">
              <p-inputNumber
                [style]="{
                  width: '202px',
                  height: '28px'
                }"
                formControlName="minDistance"
                (keyup.enter)="onSavePriceDefautl()"
              ></p-inputNumber>
              <span class="input-icon">Km</span>
            </div>
          </div>
          <div class="col-6">
            <div class="input-custom">
              <p-inputNumber
                [style]="{
                  width: '202px',
                  height: '28px'
                }"
                formControlName="maxDistance"
                (keyup.enter)="onSavePriceDefautl()"
              ></p-inputNumber>
              <span class="input-icon">Km</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="bus-price-text">
          Giá cơ bản
          <small
            class="p-error"
            *ngIf="(_priceDefaultForm['price'].errors?.['required'])&&isSubmit"
            >Không được trống</small
          >
          <small
            class="p-error"
            *ngIf="(_priceDefaultForm['price'].errors?.['min'])&&isSubmit"
            >Không được bé hơn hoặc bằng 0</small
          >
        </div>

        <div class="input-custom">
          <p-inputNumber
            [style]="{ width: '420px', height: '28px' }"
            (keyup.enter)="onSavePriceDefautl()"
            formControlName="price"
          ></p-inputNumber>
          <span class="input-icon">VND</span>
        </div>

        <div></div>
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <button
      [style]="{ width: '57', height: '32px' }"
      class="p-button-outlined p-button-rounded"
      pButton
      pRipple
      type="button"
      label="Hủy"
      (click)="cancelDialog()"
    ></button>
    <button
      [style]="{ width: '57', height: '32px' }"
      class="p-button-rounded button-rounded"
      pButton
      pRipple
      type="button"
      label="Lưu"
      (click)="onSavePriceDefautl()"
    ></button>
  </ng-template>
</p-dialog>
<tourism-smart-transportation-confirm-close-dialog></tourism-smart-transportation-confirm-close-dialog>
<p-toast position="top-right"></p-toast>
